---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_history","params":["bittrex",-1,199],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_account_history.params=["bittrex",-1,199]
      X-Jussi-Request-Id:
      - '001077988635737620'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":[[556867,{"trx_id":"e61e6dd2a7f9f2f3928e0e331d213e08ecaa6458","block":34569210,"trx_in_block":40,"op_in_trx":0,"virtual_op":0,"timestamp":"2019-07-11T13:04:06","op":["transfer",{"from":"bittrex","to":"michealb","amount":"704.215
        STEEM","memo":""}]}],[556868,{"trx_id":"7fed16ffecfb9aef8ff0da510e8446ff53cdf063","block":34569251,"trx_in_block":25,"op_in_trx":0,"virtual_op":0,"timestamp":"2019-07-11T13:06:09","op":["transfer",{"from":"bittrex","to":"anthonyadavisii","amount":"199.990
        STEEM","memo":""}]}],[556869,{"trx_id":"2c62dc5db941e627e56f74ca927432d8c6e6a161","block":34569272,"trx_in_block":2,"op_in_trx":0,"virtual_op":0,"timestamp":"2019-07-11T13:07:12","op":["transfer",{"from":"mariya-lorenz","to":"bittrex","amount":"1.256[...]
