---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_account_history",["bittrex",-1,9999]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":[[182269,{"trx_id":"6141689881e4c9fc461eaf7d984f0b75c6d60834","block":17448463,"trx_in_block":21,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-11-22T15:20:03","op":["transfer",{"from":"bittrex","to":"edje","amount":"9.990
        STEEM","memo":"STM7hMqhQAcrYUzGHEDJq2RoE278PLKDCxXqYCdgADANs4uU4Ht5A"}]}],[182270,{"trx_id":"3de6b1dc96aaba77a07736ed7849b8500195df50","block":17448464,"trx_in_block":11,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-11-22T15:20:06","op":["transfer",{"from":"bittrex","to":"paco-steem","amount":"84.770
        STEEM","memo":""}]}],[182271,{"trx_id":"2f58d992b317234533902aded6a3ded7a63f19d9","block":17448465,"trx_in_block":15,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-11-22T15:20:09","op":["transfer",{"from[...]
