---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_history","params":["bittrex",-1,199],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000673488253449529'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[[388934,{"trx_id":"ecdbcc3a5d278631087a38d542c00fc3c1e2524a","block":22571761,"trx_in_block":15,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-05-19T16:33:48","op":["transfer",{"from":"bittrex","to":"ackza","amount":"7.321
        STEEM","memo":""}]}],[388935,{"trx_id":"a0334682dc8344668c0814a0ff668ddc801288fb","block":22571767,"trx_in_block":8,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-05-19T16:34:06","op":["transfer",{"from":"kurtbeil","to":"bittrex","amount":"46.204
        STEEM","memo":"6e5c491672e04e53841"}]}],[388936,{"trx_id":"ad4ae9d2540af934113d7dd1f279d3cf20f7e613","block":22571811,"trx_in_block":18,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-05-19T16:36:18","op":["transfer",{"from":"calaber24p","to":"bittrex","amount[...]
