---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_account_history",["bittrex",-1,199]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000157580445295250'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"result":[[329603,{"trx_id":"d7d2738a51be357c41f024012030f5c244c8a9b1","block":20308601,"trx_in_block":16,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-03-02T00:40:09","op":["transfer",{"from":"bittrex","to":"voooel","amount":"9.190
        STEEM","memo":"STM5PeXHQAohemQFgMqnC6Gcar9Y6hBKWNdSCD4qqgPEPCgFdncR1"}]}],[329604,{"trx_id":"f7ad26f8d07846c13117fe81b4943a17fe9d2890","block":20308614,"trx_in_block":62,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-03-02T00:40:48","op":["transfer",{"from":"anyx","to":"bittrex","amount":"309.487
        STEEM","memo":"9ccb7a720f484fb8b1a"}]}],[329605,{"trx_id":"d7f50718a03ba80ccbfb8ce02c587ba2f9dc20c6","block":20308707,"trx_in_block":12,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-03-02T00:45:27","op":["tr[...]
