---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_history","params":["bittrex",-1,199],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001005502841728343'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[[375080,{"trx_id":"c1728bfd1c9534fd4af431fecf904bdfaefb0804","block":22000333,"trx_in_block":12,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-04-29T20:16:33","op":["transfer",{"from":"bittrex","to":"deepcrypto8","amount":"25.269
        STEEM","memo":"100202102"}]}],[375081,{"trx_id":"554bae67c3df20baaa5f0d962517ae572a39155c","block":22000381,"trx_in_block":33,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-04-29T20:18:57","op":["transfer",{"from":"dana-edwards","to":"bittrex","amount":"19.993
        SBD","memo":"03432f4a1c07486bb34"}]}],[375082,{"trx_id":"4606a18b17c347c7ce24f06e647b981dab4dab47","block":22000414,"trx_in_block":33,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-04-29T20:20:36","op":["transfer",{"from":"bittrex","to":"primuse[...]
