---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_content","params":["inertia","macintosh-napintosh"],"id":5}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000675972676902441'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":3622327,"author":"inertia","permlink":"macintosh-napintosh","category":"photography","parent_author":"","parent_permlink":"photography","title":"Macintosh
        - Napintosh","body":"Location | Lake of the Pines, CA\n------------ | -------------\nDate
        | 2017-05-08\nCamera | Canon EOS Rebel T6i\n\n![](http:\/\/i.imgur.com\/8lXDwIU.jpg)\n\n![](http:\/\/i.imgur.com\/dGFBcYP.jpg)\n\n![](http:\/\/i.imgur.com\/mBzlfM3.jpg)\n\n![](http:\/\/i.imgur.com\/ouhEfUx.jpg)\n\nAlso
        See:\n* [Macintosh](https:\/\/steemit.com\/photography\/@inertia\/macintosh)\n*
        [Macintosh - [IMG-0014]](https:\/\/steemit.com\/photography\/@inertia\/macintosh-img-0014)\n*
        [Mac Lounge](https:\/\/steemit.com\/photography\/@inertia\/mac-lounge)\n*
        [Macintosh Plus](https:\/\/steemit.com\/photography\/@inertia\/macintosh-plus)\n*
        [The Adventures of Macintosh](https:\/\/steemit.com\/photography\/@inertia\/the-adventures-of-macintosh)\n","json_metadata":"{\"app\":\"chainbb\/0.1\",\"format\":\"markdown+html\",\"tags\":[\"photography\",\"cat\",\"cats\",\"pets\",\"california\"]}","last_update":"2017-06-09T00:06:33","created":"2017-06-09T00:06:33","active":"2017-10-19T22:41:48","last_payout":"2017-06-16T00:06:33","depth":0,"children":11,"net_rshares":0,"abs_rshares":0,"vote_rshares":0,"children_abs_rshares":0,"cashout_time":"1969-12-31T23:59:59","max_cashout_time":"1969-12-31T23:59:59","total_vote_weight":0,"reward_weight":10000,"total_payout_value":"34.946
        SBD","curator_payout_value":"8.500 SBD","author_rewards":15429,"net_votes":108,"root_author":"inertia","root_permlink":"macintosh-napintosh","max_accepted_payout":"1000000.000
        SBD","percent_steem_dollars":10000,"allow_replies":true,"allow_votes":true,"allow_curation_rewards":true,"beneficiaries":[{"account":"chainbb","weight":1500}],"url":"\/photography\/@inertia\/macintosh-napintosh","root_title":"Macintosh
        - Napintosh","pending_payout_value":"0.000 SBD","total_pending_payout_value":"0.000
        STEEM","active_votes":[{"voter":"pharesim","weight":"369470109412779910","rshares":"255921217459","percent":400,"reputation":"77763951551080","time":"2017-06-09T00:51:42"},{"voter":"pheonike","weight":"8996965461892271","rshares":"6394470712","percent":210,"reputation":"13598990057272","time":"2017-06-09T00:33:18"},{"voter":"proctologic","weight":"36581581529941622","rshares":"49556426197","percent":10000,"reputation":"11527314404457","time":"2017-06-13T19:55:27"},{"voter":"patrice","weight":"356255082808507","rshares":"5802192189","percent":5000,"reputation":"24379918299244","time":"2017-06-09T00:06:57"},{"voter":"makishart","weight":"10128[...]
- request:
    method: post
    uri: https://api.steemitstage.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_content","params":["inertia","macintosh-napintosh"],"id":3}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000309442381491744'
    body:
      encoding: ASCII-8BIT
      string: [...]
- request:
    method: post
    uri: https://api.steem.house/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_content","params":["inertia","macintosh-napintosh"],"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000947967320939665'
    body:
      encoding: ASCII-8BIT
      string: '{"js[...]
- request:
    method: get
    uri: https://steemd.privex.io/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:478 from_string
  recorded_at: Mon, 30 Apr 2018 01:58:30 GMT
- request:
    method: post
    uri: https://steemd.privex.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_content","params":["inertia","macintosh-napintosh"],"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":4,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with name ''condenser_api.get_content''\n    {\"name\":\"condenser_api.get_content\",\"api\":{\"get_account_bandwidth\":42,\"get_account_count\":35,\"get_account_history\":37,\"get_account_references\":32,\"get_account_votes\":57,\"get_accounts\":31,\"get_active_votes\":56,\"get_active_witnesses\":67,\"get_block\":18,\"get_block_header\":17,\"get_chain_properties\":23,\"get_comment_discussions_by_payout\":5,\"get_config\":21,\"get_content\":58,\"get_content_replies\":59,\"get_conversion_requests\":36,\"get_current_median_history_price\":25,\"get_discussions_by_active\":8,\"get_discussions_by_author_before_date\":60,\"get_discussions_by_blog\":14,\"get_discussions_by_cashout\":9,\"get_discussions_by_children\":11,\"get_discussions_by_comments\":15,\"get_discussions_by_created\":7,\"get_discussions_by_feed\":13,\"get_discussions_by_hot\":12,\"get_discussions_by_payout\":3,\"get_discussions_by_promoted\":16,\"get_discussions_by_trending\":6,\"get_discussions_by_votes\":10,\"get_dynamic_global_properties\":22,\"get_escrow\":40,\"get_expiring_vesting_delegations\":46,\"get_feed_history\":24,\"get_hardfork_version\":27,\"get_key_references\":30,\"get_liquidity_queue\":49,\"get_miner_queue\":68,\"get_next_scheduled_hardfork\":28,\"get_open_orders\":48,\"get_ops_in_block\":19,\"get_order_book\":47,\"get_owner_history\":38,\"get_post_discussions_by_payout\":4,\"get_potential_signatures\":53,\"get_recovery_request\":39,\"get_replies_by_last_update\":61,\"get_required_signatures\":52,\"get_reward_fund\":29,\"get_savings_withdraw_from\":43,\"get_savings_withdraw_to\":44,\"get_state\":20,\"get_tags_used_by_author\":2,\"get_transaction\":51,\"get_transaction_hex\":50,\"get_trending_tags\":1,\"get_vesting_delegations\":45,\"get_withdraw_routes\":41,\"get_witness_by_account\":63,\"get_witness_count\":66,\"get_witness_schedule\":26,\"get_witnesses\":62,\"get_witnesses_by_vote\":64,\"lookup_account_names\":33,\"lookup_accounts\":34,\"lookup_witness_accounts\":65,\"set_block_applied_callback\":0,\"verify_account_authority\":55,\"verify_authority\":54}}\n    th_a  api_connection.hpp:109
        call\n\n    {\"call.method\":\"condenser_api.get_content\",\"call.params\":[\"inertia\",\"macintosh-napintosh\"]}\n    th_a  websocket_api.cpp:124
        on_message","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"api_connection.hpp","line":109,"method":"call","hostname":"","thread_name":"th_a","timestamp":"2018-04-30T01:58:32"},"format":"itr
        != _by_name.end(): no method with name ''${name}''","data":{"name":"condenser_api.get_content","api":{"get_account_bandwidth":42,"get_account_count":35,"get_account_history":37,"get_account_references":32,"get_account_votes":57,"get_accounts":31,"get_active_votes":56,"get_active_witnesses":67,"get_block":18,"get_block_header":17,"get_chain_properties":23,"get_comment_discussions_by_payout":5,"get_config":21,"get_content":58,"get_content_replies":59,"g[...]
- request:
    method: get
    uri: https://api.steem.house/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000783133161584078'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-04-30T01:58:33.044653","source_commit":"90a1eef9146459e6861237cdff393895156c5648","docker_tag":"latest"}'
  recorded_at: Mon, 30 Apr 2018 01:58:33 GMT
recorded_with: VCR 3.0.3
