---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_content","params":["bogus","bogus"],"id":3}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000530564693733465'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"author":"","permlink":"","category":"","parent_author":"","parent_permlink":"","title":"","body":"","json_metadata":"","last_update":"1970-01-01T00:00:00","created":"1970-01-01T00:00:00","active":"1970-01-01T00:00:00","last_payout":"1970-01-01T00:00:00","depth":0,"children":0,"net_rshares":0,"abs_rshares":0,"vote_rshares":0,"children_abs_rshares":0,"cashout_time":"1970-01-01T00:00:00","max_cashout_time":"1970-01-01T00:00:00","total_vote_weight":0,"reward_weight":0,"total_payout_value":"0.000
        STEEM","curator_payout_value":"0.000 STEEM","author_rewards":0,"net_votes":0,"root_author":"","root_permlink":"","max_accepted_payout":"0.000
        STEEM","percent_steem_dollars":0,"allow_replies":false,"allow_votes":false,"allow_curation_rewards":false,"beneficiaries":[],"url":"","root_title":"","pending_payout_value":"0.000
        STEEM","total_pending_payout_value":"0.000 STEEM","active_votes":[],"replies":[],"author_reputation":0,"promoted":"0.000
        SBD","body_length":0,"reblogged_by":[]},"id":3}'
  recorded_at: Sun, 20 May 2018 01:25:16 GMT
- request:
    method: post
    uri: https://api.steemitstage.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_content","params":["bogus","bogus"],"id":5}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000519769711382642'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0[...]
- request:
    method: get
    uri: https://api.steemit.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000676293493342774'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-05-20T01:42:39.914937","source_commit":"6c5b42ba4d08bbaab3ba2578b5b03c92e8f9a1d9","docker_tag":"latest","jussi_num":22582716}'
  recorded_at: Sun, 20 May 2018 01:42:39 GMT
[...]
