---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_content",["inertia","macintosh-napintosh"]],"id":5,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_content.params=['inertia','macintosh-napintosh']
      X-Jussi-Request-Id:
      - '000620522895812371'
    body:
      encoding: ASCII-8BIT
      string: '{"id":5,"jsonrpc":"2.0","result":{"id":3622327,"author":"inertia","permlink":"macintosh-napintosh","category":"photography","parent_author":"","parent_permlink":"photography","title":"Macintosh
        - Napintosh","body":"Location | Lake of the Pines, CA\n------------ | -------------\nDate
        | 2017-05-08\nCamera | Canon EOS Rebel T6i\n\n![](http:\/\/i.imgur.com\/8lXDwIU.jpg)\n\n![](http:\/\/i.imgur.com\/dGFBcYP.jpg)\n\n![](http:\/\/i.imgur.com\/mBzlfM3.jpg)\n\n![](http:\/\/i.imgur.com\/ouhEfUx.jpg)\n\nAlso
        See:\n* [Macintosh](https:\/\/steemit.com\/photography\/@inertia\/macintosh)\n*
        [Macintosh - [IMG-0014]](https:\/\/steemit.com\/photography\/@inertia\/macintosh-img-0014)\n*
        [Mac Lounge](https:\/\/steemit.com\/photography\/@inertia\/mac-lounge)\n*
        [Macintosh Plus](https:\/\/steemit.com\/photography\/@inertia\/macintosh-plus)\n*
        [The Adventures of Macintosh](https:\/\/steemit.com\/photography\/@inertia\/the-adventures-of-macintosh)\n","json_metadata":"{\"app\":\"chainbb\/0.1\",\"format\":\"markdown+html\",\"tags\":[\"photography\",\"cat\",\"cats\",\"pets\",\"california\"]}","last_update":"2017-06-09T00:06:33","created":"2017-06-09T00:06:33","active":"2017-10-19T22:41:48","last_payout":"2017-06-16T00:06:33","depth":0,"children":11,"net_rshares":0,"abs_rshares":0,"vote_rshares":0,"children_abs_rshares":0,"cashout_time":"1969-12-31T23:59:59","max_cashout_time":"1969-12-31T23:59:59","total_vote_weight":0,"reward_weight":10000,"total_payout_value":"34.946
        SBD","curator_payout_value":"8.500 SBD","author_rewards":15429,"net_votes":108,"root_comment":3622327,"max_accepted_payout":"1000000.000
        SBD","percent_steem_dollars":10000,"allow_replies":true,"allow_votes":true,"allow_curation_rewards":true,"beneficiaries":[{"account":"chainbb","weight":1500}],"url":"\/photography\/@inertia\/macintosh-napintosh","root_title":"Macintosh
        - Napintosh","pending_payout_value":"0.000 SBD","total_pending_payout_value":"0.000
        STEEM","active_votes":[{"voter":"pharesim","weight":"369470109412779910","rshares":"255921217459","percent":400,"reputation":"77178582053417","time":"2017-06-09T00:51:42"},{"voter":"pheonike","weight":"8996965461892271","rshares":"6394470712","percent":210,"reputation":"13598995381008","time":"2017-06-09T00:33:18"},{"voter":"proctologic","weight":"36581581529941622","rshares":"49556426197","percent":10000,"reputation":"11524851666117","time":"2017-06-13T19:55:27"},{"voter":"patrice","weight":"356255082808507","rshares":"5802192189","percent":5000,"reputation":"24279126566220","time":"2017-06-09T00:06:57"},{"voter":"makishart","weight":"10128[...]
