---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_accounts",[["bittrex"]]],"id":8,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":8,"result":[{"id":1520,"name":"bittrex","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF",1]]},"posting":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF",1]]},"memo_key":"STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF","json_metadata":"","proxy":"","last_owner_update":"2017-01-15T21:26:30","last_account_update":"2017-01-15T21:26:30","created":"2016-04-08T22:58:57","mined":false,"owner_challenged":false,"active_challenged":false,"last_owner_proved":"1970-01-01T00:00:00","last_active_proved":"1970-01-01T00:00:00","recovery_account":"steem","last_account_recovery":"1970-01-01T00:00:00","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":0,"can_vote":true,"voting_power":10000,"last_vote_time":"2016-04-08T22:58:57","balance":"17069867.260
        STEEM","savings_balance":"15.732 STEEM","sbd_balance":"867322.255 SBD","sbd_seconds":"1200484494763440","sbd_seconds_last_update":"2017-11-13T19:44:54","sbd_last_interest_payment":"2017-10-28T06:03:36","savings_sbd_balance":"0.000
        SBD","savings_sbd_seconds":"0","savings_sbd_seconds_last_update":"2017-07-16T20:06:00","savings_sbd_last_interest_payment":"2017-07-16T20:06:00","savings_withdraw_requests":0,"reward_sbd_balance":"0.000
        SBD","reward_steem_balance":"0.000 STEEM","reward_vesting_balance":"0.000000
        VESTS","reward_vesting_steem":"0.000 STEEM","vesting_shares":"8538578.636896
        VESTS","delegated_vesting_shares":"0.000000 VESTS","received_vesting_shares":"0.000000
        VESTS","vesting_withdraw_rate":"0.000001 VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":0,"to_withdraw":0,"withdraw_routes":0,"curation_rewards":0,"posting_rewards":0,"proxied_vsf_votes":[0,0,0,0],"witnesses_voted_for":0,"average_bandwidth":"145795994789","lifetime_bandwidth":"7359901000000","last_bandwidth_update":"2017-11-13T19:48:09","average_market_bandwidth":"1457959952763","lifetime_market_bandwidth":"73584250000000","last_market_bandwidth_update":"2017-11-13T19:48:09","last_post":"1970-01-01T00:00:00","last_root_post":"1970-01-01T00:00:00","vesting_balance":"0.000
        STEEM","reputation":0,"transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":[],"tags_usage":[],"guest_bloggers":[]}]}'
  recorded_at: Mon, 13 Nov 2017 19:49:42 GMT
recorded_with: VCR 3.0.3
