---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["bittrex"]],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000823912383749725'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":1520,"name":"bittrex","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF",1]]},"posting":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF",1]]},"memo_key":"STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF","json_metadata":"","proxy":"","last_owner_update":"2017-01-15T21:26:30","last_account_update":"2017-01-15T21:26:30","created":"2016-04-08T22:58:57","mined":false,"recovery_account":"steem","last_account_recovery":"1970-01-01T00:00:00","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":0,"can_vote":true,"voting_power":10000,"last_vote_time":"2016-04-08T22:58:57","balance":"23551332.400
        STEEM","savings_balance":"26.733 STEEM","sbd_balance":"8441181.616 SBD","sbd_seconds":"2763448147728789","sbd_seconds_last_update":"2018-04-30T01:49:42","sbd_last_interest_payment":"2018-04-26T06:22:51","savings_sbd_balance":"0.000
        SBD","savings_sbd_seconds":"0","savings_sbd_seconds_last_update":"2018-03-23T20:25:51","savings_sbd_last_interest_payment":"2018-03-23T20:25:51","savings_withdraw_requests":0,"reward_sbd_balance":"0.000
        SBD","reward_steem_balance":"0.000 STEEM","reward_vesting_balance":"0.000000
        VESTS","reward_vesting_steem":"0.000 STEEM","vesting_shares":"8538578.636896
        VESTS","delegated_vesting_shares":"0.000000 VESTS","received_vesting_shares":"20368452.908257
        VESTS","vesting_withdraw_rate":"0.000001 VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":0,"to_withdraw":0,"withdraw_routes":0,"curation_rewards":0,"posting_rewards":0,"proxied_vsf_votes":[0,0,0,0],"witnesses_voted_for":0,"last_post":"1970-01-01T00:00:00","last_root_post":"1970-01-01T00:00:00","average_bandwidth":"257648783051","lifetime_bandwidth":"13972017000000","last_bandwidth_update":"2018-04-30T01:46:21","average_market_bandwidth":"2576481249046","lifetime_market_bandwidth":"139704060000000","last_market_bandwidth_update":"2018-04-30T01:46:21","vesting_balance":"0.000
        STEEM","reputation":0,"transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":[],"tags_usage":[],"guest_bloggers":[]}],"id":1}'
  recorded_at: Mon, 30 Apr 2018 01:50:08 GMT
- request:
    method: get
    uri: https://rpc.curiesteem.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Mon, 30 Apr 2018 01:51:11 GMT
- request:
    method: post
    uri: https://rpc.curiesteem.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["bittrex"]],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with name ''condenser_api.get_accounts''\n    {\"name\":\"condenser_api.get_accounts\",\"api\":{\"get_account_bandwidth\":42,\"get_account_count\":35,\"get_account_history\":37,\"get_account_references\":32,\"get_account_votes\":57,\"get_accounts\":31,\"get_active_votes\":56,\"get_active_witnesses\":67,\"get_block\":18,\"get_block_header\":17,\"get_chain_properties\":23,\"get_comment_discussions_by_payout\":5,\"get_config\":21,\"get_content\":58,\"get_content_replies\":59,\"get_conversion_requests\":36,\"get_current_median_history_price\":25,\"get_discussions_by_active\":8,\"get_discussions_by_author_before_date\":60,\"get_discussions_by_blog\":14,\"get_discussions_by_cashout\":9,\"get_discussions_by_children\":11,\"get_discussions_by_comments\":15,\"get_discussions_by_created\":7,\"get_discussions_by_feed\":13,\"get_discussions_by_hot\":12,\"get_discussions_by_payout\":3,\"get_discussions_by_promoted\":16,\"get_discussions_by_trending\":6,\"get_discussions_by_votes\":10,\"get_dynamic_global_properties\":22,\"get_escrow\":40,\"get_expiring_vesting_delegations\":46,\"get_feed_history\":24,\"get_hardfork_version\":27,\"get_key_references\":30,\"get_liquidity_queue\":49,\"get_miner_queue\":68,\"get_next_scheduled_hardfork\":28,\"get_open_orders\":48,\"get_ops_in_block\":19,\"get_order_book\":47,\"get_owner_history\":38,\"get_post_discussions_by_payout\":4,\"get_potential_signatures\":53,\"get_recovery_request\":39,\"get_replies_by_last_update\":61,\"get_required_signatures\":52,\"get_reward_fund\":29,\"get_savings_withdraw_from\":43,\"get_savings_withdraw_to\":44,\"get_state\":20,\"get_tags_used_by_author\":2,\"get_transaction\":51,\"get_transaction_hex\":50,\"get_trending_tags\":1,\"get_vesting_delegations\":45,\"get_withdraw_routes\":41,\"get_witness_by_account\":63,\"get_witness_count\":66,\"get_witness_schedule\":26,\"get_witnesses\":62,\"get_witnesses_by_vote\":64,\"lookup_account_names\":33,\"lookup_accounts\":34,\"lookup_witness_accounts\":65,\"set_block_applied_callback\":0,\"verify_account_authority\":55,\"verify_authority\":54}}\n    th_a  api_connection.hpp:109
        call\n\n    {\"call.method\":\"condenser_api.get_accounts\",\"call.params\":[[\"bittrex\"]]}\n    th_a  websocket_api.cpp:124
        on_message","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"api_connection.hpp","line":109,"method":"call","hostname":"","thread_name":"th_a","timestamp":"2018-04-30T01:51:12"},"format":"itr
        != _by_name.end(): no method with name ''${name}''","data":{"name":"condenser_api.get_accounts","api":{"get_account_bandwidth":42,"get_account_count":35,"get_account_history":37,"get_account_references":32,"get_account_votes":57,"get_accounts":31,"get_active_votes":56,"get_active_witnesses":67,"get_block":18,"get_block_header":17,"get_chain_properties":23,"get_comment_discussions_by_payout":5,"get_config":21,"get_content":58,"get_content_replies":59,"get_conversion_requests":36,"get[...]
- request:
    method: get
    uri: https://gtg.steem.house:8090/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Mon, 30 Apr 2018 01:51:14 GMT
- request:
    method: post
    uri: https://gtg.steem.house:8090/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["bittrex"]],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with n[...]
- request:
    method: get
    uri: https://rpc.buildteam.io/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Mon, 30 Apr 2018 01:51:51 GMT
- request:
    method: post
    uri: https://rpc.buildteam.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["bittrex"]],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with name [...]
- request:
    method: get
    uri: https://appbasetest.timcliff.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"End Of File:stringstream","data":{"code":11,"name":"eof_exception","message":"End
        Of File","stack":[{"context":{"level":"error","file":"sstream.cpp","line":109,"method":"peek","hostname":"","timestamp":"2018-04-30T01:51:53"},"format":"stringstream","data":{}},{"context":{"level":"warn","file":"json.cpp","line":479,"method":"from_string","hostname":"","timestamp":"2018-04-30T01:51:53"},"format":"","data":{"str":""}}]}},"id":null}'
  recorded_at: Mon, 30 Apr 2018 01:51:53 GMT
- request:
    method: get
    uri: https://steemd.pevo.science/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Mon, 30 Apr 2018 01:51:54 GMT
- request:
    method: post
    uri: https://steemd.pevo.science/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["bittrex"]],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with na[...]
- request:
    method: get
    uri: https://rpc.steemliberator.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 502
      message: Bad Gateway
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>502 Bad Gateway</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>502
        Bad Gateway</h1></center>\r\n<hr><center>nginx/1.10.3 (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 30 Apr 2018 01:51:57 GMT
- request:
    method: get
    uri: https://api.steemitstage.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001110044812229608'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-04-30T01:51:58.766277","source_commit":"6281621b66e79fe300ea2f018a3180dc3e5a1154","docker_tag":"latest"}'
  recorded_at: Mon, 30 Apr 2018 01:51:58 GMT
- request:
    method: post
    uri: https://api.steemitstage.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["bittrex"]],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000209545948131583'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","[...]
- request:
    method: post
    uri: https://api.steem.house/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["bittrex"]],"id":7}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000184329692755076'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","resul[...]
- request:
    method: get
    uri: https://seed.bitcoiner.me/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx/1.10.3 (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 30 Apr 2018 02:06:19 GMT
- request:
    method: get
    uri: https://api.steem.house/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000387288353258988'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-04-30T02:06:23.021729","source_commit":"90a1eef9146459e6861237cdff393895156c5648","docker_tag":"latest"}'
  recorded_at: Mon, 30 Apr 2018 02:06:23 GMT
[...]
