---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_ticker",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.market_history_api.get_ticker
      X-Jussi-Request-Id:
      - 1514955598.795-367692611-424-172.31.53.105-104.172.198.198
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"latest":"0.71719999999999995","lowest_ask":"0.74978461538461538","highest_bid":"0.71595330739299612","percent_change":"9.63977854671279033","steem_volume":"7510.030
        STEEM","sbd_volume":"5104.791 SBD"},"id":1}'
  recorded_at: Wed, 03 Jan 2018 04:59:58 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_account_history",["bittrex",-1,9999]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - 1514955619.259-367720270-445-172.31.10.76-104.172.198.198
    body:
      encoding: ASCII-8BIT
      string: '{"result":[[233549,{"trx_id":"5af0a3312472dcf8038ccdad0c071f3ff9a0b840","block":18488590,"trx_in_block":35,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-12-28T18:29:30","op":["transfer",{"from":"anahilarski","to":"bittrex","amount":"9.404
        SBD","memo":"07fe3f5821f647cfb46"}]}],[233550,{"trx_id":"c7377616cd18893b1a4220488154b1b9af4efc13","block":18488593,"trx_in_block":15,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-12-28T18:29:39","op":["transfer",{"from":"amylee","to":"bittrex","amount":"63.767
        SBD","memo":"5bdbb32f342b431e987"}]}],[233551,{"trx_id":"5aefc95cf23629d9c03f16c53d053555586f6003","block":18488608,"trx_in_block":31,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-12-28T18:30:24","op":["transfer",{"from":"cottonlazarus","to[...]
