---
http_interactions:
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"find","params":{"contract":"tokens","table":"transfers","query":{"symbol":""},"limit":0},"jsonrpc":"2.0","id":18}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":18,"result":null}'
  recorded_at: Thu, 11 Jul 2019 23:34:21 GMT
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"find","params":{"contract":"tokens","table":"balances","query":{"symbol":"DROTTO"},"limit":1000,"offset":0},"jsonrpc":"2.0","id":17}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":17,"result":[]}'
  recorded_at: Thu, 11 Jul 2019 23:34:21 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_ticker","params":[],"id":3}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_ticker.params=[]
      X-Jussi-Request-Id:
      - '000898370382959734'
    body:
      encoding: UTF-8
      string: '{"id":3,"jsonrpc":"2.0","result":{"latest":"0.33333333333333331","lowest_ask":"0.29643148959827936","highest_bid":"0.29637096774193550","percent_change":"0.00000000000000000","steem_volume":"68762.228
        STEEM","sbd_volume":"20941.245 SBD"}}'
  recorded_at: Thu, 11 Jul 2019 23:34:22 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_history","params":["bittrex",-1,9999],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000065522808632127'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[[547067,{"trx_id":"e14756426e4b3c821e1aa1ab4df3a37cedfd59e6","block":33387899,"trx_in_block":21,"op_in_trx":0,"virtual_op":0,"timestamp":"2019-05-31T11:15:03","op":["transfer",{"from":"cyclope","to":"bittrex","amount":"146.358
        STEEM","memo":"84478d1e1efa46029a6"}]}],[547068,{"trx_id":"0340367eb944db4557bcc0060a384741ce1137db","block":33388004,"trx_in_block":15,"op_in_trx":0,"virtual_op":0,"timestamp":"2019-05-31T11:20:18","op":["transfer",{"from":"cryptobdschool","to":"bittrex","amount":"7.494
        SBD","memo":"8d0aa369592f47578ba"}]}],[547069,{"trx_id":"9a4f454b93c9557943c18ff9e0fb054180b78107","block":33388110,"trx_in_block":17,"op_in_trx":0,"virtual_op":0,"timestamp":"2019-05-31T11:25:36","op":["transfer",{"from":"sahariar01"[...]
