---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_account_history",["bittrex",-1,199]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_account_history.params=['bittrex',-1,199]
      X-Jussi-Request-Id:
      - '000916456354829941'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":[[331207,{"trx_id":"b6ef6395528d4943df168a365963b13924b6f02d","block":20362954,"trx_in_block":2,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-03-03T21:58:24","op":["transfer",{"from":"olamax","to":"bittrex","amount":"0.500
        SBD","memo":"f6ab2f71e8c84353aea"}]}],[331208,{"trx_id":"1a42fce4f0b6bf7d07d362936569c396dfc92946","block":20363049,"trx_in_block":38,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-03-03T22:03:09","op":["transfer",{"from":"happyhousewife","to":"bittrex","amount":"7.719
        SBD","memo":"7b36aac9e2f84b63804"}]}],[331209,{"trx_id":"40715389dd14205aeab78d7cb8a21ffbabf9fb11","block":20363058,"trx_in_block":13,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-03-03T22:03:36","op":["transfer",{"from":"kamalee","t[...]
