---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":3,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000933131866946832'
    body:
      encoding: ASCII-8BIT
      string: '{"id":3,"jsonrpc":"2.0","result":{"id":0,"head_block_number":20316301,"head_block_id":"0136008d09df3925cd9be6083c658ca511abf507","time":"2018-03-02T07:05:12","current_witness":"clayop","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"267785099.177
        STEEM","current_supply":"264829358.171 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"9934245.522 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"186642137.266 STEEM","total_vesting_shares":"381291582797.976908
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"316362386.523951
        VESTS","pending_rewarded_vesting_steem":"153896.834 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":20379704,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":20316286,"vote_power_reserve_rate":10,"current_reserve_ratio":185200002,"average_block_size":17061,"max_virtual_bandwidth":"244687309394411520000"}}'
  recorded_at: Fri, 02 Mar 2018 07:05:15 GMT
recorded_with: VCR 3.0.3
