---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":8,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000483617865455162'
    body:
      encoding: ASCII-8BIT
      string: '{"id":8,"jsonrpc":"2.0","result":{"id":0,"head_block_number":20316311,"head_block_id":"0136009776216dc3a3c95b2d32eb9231fc5dbbe9","time":"2018-03-02T07:05:42","current_witness":"furion","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"267785121.653
        STEEM","current_supply":"264829377.828 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"9934254.998 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"186642142.932 STEEM","total_vesting_shares":"381291587386.338864
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"316370355.924258
        VESTS","pending_rewarded_vesting_steem":"153900.735 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":20379714,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":20316289,"vote_power_reserve_rate":10,"current_reserve_ratio":185200002,"average_block_size":17232,"max_virtual_bandwidth":"244687309394411520000"}}'
  recorded_at: Fri, 02 Mar 2018 07:05:43 GMT
[...]
