---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"result":{"id":0,"head_block_number":17194720,"head_block_id":"01065ee07d5ebe3d42332fad0047ec9e1fae0396","time":"2017-11-13T19:48:54","current_witness":"timcliff","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"263287948.744
        STEEM","current_supply":"259541344.775 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3338224.137 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"191499166.372 STEEM","total_vesting_shares":"393371513646.251986
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"383774432.147117
        VESTS","pending_rewarded_vesting_steem":"186135.124 STEEM","sbd_interest_rate":1,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":17255778,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":17194701,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":8922,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Mon, 13 Nov 2017 19:48:56 GMT
[...]
