---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":3,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":3,"result":{"id":0,"head_block_number":17829870,"head_block_id":"01100fee88812d0f4eec3c56c22b77b6245354ab","time":"2017-12-05T21:19:36","current_witness":"blocktrades","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"263623406.152
        STEEM","current_supply":"260807932.903 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3527787.982 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"192960523.806 STEEM","total_vesting_shares":"395927211481.774008
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"407361156.177316
        VESTS","pending_rewarded_vesting_steem":"197686.854 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":17891192,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":17829848,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":8317,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Tue, 05 Dec 2017 21:19:37 GMT
[...]
