---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000145408001501483'
    body:
      encoding: ASCII-8BIT
      string: '{"id":4,"jsonrpc":"2.0","result":{"head_block_number":30532099,"head_block_id":"01d1e2035f0af2ef3cf5a8c36e903245ece37e79","time":"2019-02-21T04:33:36","current_witness":"smooth.witness","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"330828170.981
        STEEM","current_supply":"301001385.439 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"9842839.229 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"200408145.945 STEEM","total_vesting_shares":"401656474446.157517
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"527793092.860012
        VESTS","pending_rewarded_vesting_steem":"259994.775 STEEM","sbd_interest_rate":0,"sbd_print_rate":9900,"maximum_block_size":65536,"current_aslot":30629472,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":30532079,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":900,"sbd_stop_percent":1000,"sbd_start_percent":900}}'
  recorded_at: Thu, 21 Feb 2019 04:33:39 GMT
[...]
