---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000847521078734787'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"id":0,"head_block_number":20370765,"head_block_id":"0136d54d497f07b8a7eea89d7a7989dd8f7f5af6","time":"2018-03-04T04:29:06","current_witness":"netuoso","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"267992721.012
        STEEM","current_supply":"264919340.658 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"10046880.380 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"187067646.709 STEEM","total_vesting_shares":"382122781752.650639
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"319262154.991642
        VESTS","pending_rewarded_vesting_steem":"155326.562 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":20434182,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":20370748,"vote_power_reserve_rate":10,"current_reserve_ratio":25445256,"average_block_size":15610,"max_virtual_bandwidth":"33618418791874560000"}}'
  recorded_at: Sun, 04 Mar 2018 04:29:06 GMT
[...]
