---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_account_history",["bittrex",-200,200]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":[[176313,{"trx_id":"10d1146313ead80277ec7da5a78f8497546f7ca6","block":17183909,"trx_in_block":7,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-11-13T10:48:15","op":["transfer",{"from":"princesschocho","to":"bittrex","amount":"416.061
        STEEM","memo":"88812be164864625944"}]}],[176314,{"trx_id":"cd2825ba6793eabefc9d7b0fcc0faba6c636b127","block":17183971,"trx_in_block":0,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-11-13T10:51:21","op":["transfer",{"from":"radhikapatel","to":"bittrex","amount":"5.000
        STEEM","memo":"0b16ecaf29b74712b26"}]}],[176315,{"trx_id":"ed1b495fd1c774b155ef3ff12fd3139a091692e5","block":17184120,"trx_in_block":8,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-11-13T10:58:48","op":["transfer",{"from":"steembet.asia[...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_accounts",[["bittrex"]]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"result":[{"id":1520,"name":"bittrex","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF",1]]},"posting":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF",1]]},"memo_key":"STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF","json_metadata":"","proxy":"","last_owner_update":"2017-01-15T21:26:30","last_account_update":"2017-01-15T21:26:30","created":"2016-04-08T22:58:57","mined":false,"owner_challenged":false,"active_challenged":false,"last_owner_proved":"1970-01-01T00:00:00","last_active_proved":"1970-01-01T00:00:00","recovery_account":"steem","last_account_recovery":"1970-01-01T00:00:00","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":0,"can_vote":true,"voting_power":10000,"last_vote_time":"2016-04-08T22:58:57","balance":"17069867.260
        STEEM","savings_balance":"15.732 STEEM","sbd_balance":"867322.255 SBD","sbd_seconds":"1200484494763440","sbd_seconds_last_update":"2017-11-13T19:44:54","sbd_last_interest_payment":"2017-10-28T06:03:36","savings_sbd_balance":"0.000
        SBD","savings_sbd_seconds":"0","savings_sbd_seconds_last_update":"2017-07-16T20:06:00","savings_sbd_last_interest_payment":"2017-07-16T20:06:00","savings_withdraw_requests":0,"reward_sbd_balance":"0.000
        SBD","reward_steem_balance":"0.000 STEEM","reward_vesting_balance":"0.000000
        VESTS","reward_vesting_steem":"0.000 STEEM","vesting_shares":"8538578.636896
        VESTS","delegated_vesting_shares":"0.000000 VESTS","received_vesting_shares":"0.000000
        VESTS","vesting_withdraw_rate":"0.000001 VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":0,"to_withdraw":0,"withdraw_routes":0,"curation_rewards":0,"posting_rewards":0,"proxied_vsf_votes":[0,0,0,0],"witnesses_voted_for":0,"average_bandwidth":"145795994789","lifetime_bandwidth":"7359901000000","last_bandwidth_update":"2017-11-13T19:48:09","average_market_bandwidth":"1457959952763","lifetime_market_bandwidth":"73584250000000","last_market_bandwidth_update":"2017-11-13T19:48:09","last_post":"1970-01-01T00:00:00","last_root_post":"1970-01-01T00:00:00","vesting_balance":"0.000
        STEEM","reputation":0,"transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":[],"tags_usage":[],"guest_bloggers":[]}]}'
  recorded_at: Mon, 13 Nov 2017 19:48:19 GMT
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":3,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":3,"result":{"id":0,"head_block_number":17194708,"head_block_id":"01065ed437b42b22f5fc109baa945a2d50b85e70","time":"2017-11-13T19:48:18","current_witness":"blocktrades","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"263287921.842
        STEEM","current_supply":"259541355.634 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3338190.492 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"191499103.316 STEEM","total_vesting_shares":"393371392511.929641
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"383788948.243358
        VESTS","pending_rewarded_vesting_steem":"186142.184 STEEM","sbd_interest_rate":1,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":17255766,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":17194693,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":8743,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Mon, 13 Nov 2017 19:48:19 GMT
recorded_with: VCR 3.0.3
