---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000566542626901135'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"head_block_number":34581755,"head_block_id":"020facfb4abf7ca3967290668e8b61be5eb9b4d8","time":"2019-07-11T23:32:00","current_witness":"cervantes","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"340798997.843
        STEEM","current_supply":"314575245.295 STEEM","confidential_supply":"0.000
        STEEM","init_sbd_supply":"0.000 SBD","current_sbd_supply":"8889852.114 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"198204707.342 STEEM","total_vesting_shares":"394012957431.199929
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"666684727.287579
        VESTS","pending_rewarded_vesting_steem":"330491.755 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":34684240,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":34581739,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":900,"sbd_stop_percent":1000,"sbd_start_percent":900}}'
  recorded_at: Thu, 11 Jul 2019 23:32:01 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_block","params":[34581739],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_block.params=[34581739]
      X-Jussi-Request-Id:
      - '000583455903786234'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"jsonrpc":"2.0","result":{"previous":"020faceaea380ec9fb0d147f43a9d3f4d9dca7be","timestamp":"2019-07-11T23:31:12","witness":"someguy123","transaction_merkle_root":"0d69f731fa10de2fc337c4bf5d572dcd1b56a6ec","extensions":[],"witness_signature":"20b7854c2e0913fbf6dfab93214a0a09bbcc2120ff42a2acaeb368a062119bb97c4d4af6ad01a6280e2b1556dd6e40cbaa425edc99352ad14fa96af16aba29c8a0","transactions":[{"ref_block_num":44246,"ref_block_prefix":807510595,"expiration":"2019-07-11T23:41:06","operations":[["comment",{"parent_author":"forums.tokenbb","parent_permlink":"tokenbb-category-all-fights-1553179324035","author":"venzam","permlink":"tokenbb-topic-check-my-latest-fight-venzam-vs--1562887868220","title":"Check
        my latest fight ! venzam vs drisers","body":"### [Topic: Check my latest fight
        ! venzam vs drisers](https:\/\/drugwars.tokenbb.io\/topics\/venzam\/tokenbb-topic-check-my-latest-fight-venzam-vs--1562887868220)\n\n---\n\n![dw](https:\/\/res.cloudinary.com\/hightouch\/image\/upload\/v1562887835\/drugwars\/jzppdntphsfupdyvry4y.jpg)\n\n---\n\n[View
        this topic on TokenBB](https:\/\/drugwars.tokenbb.io\/topics\/venzam\/tokenbb-topic-check-my-latest-fight-venzam-vs--1562887868220)","json_metadata":"{\"app\":\"tokenbb\/0.1.1\",\"format\":\"markdown\",\"tags\":[\"tokenbb\",\"drugwars\"],\"url\":\"https:\/\/drugwars.tokenbb.io\/topics\/venzam\/tokenbb-topic-check-my-latest-fight-venzam-vs--1562887868220\",\"forum_name\":\"drugwars\",\"category_name\":\"All
        Fights\",\"topic_name\":\"Check my latest fight ! venzam vs drisers\"}"}],["comment_options",{"author":"venzam","permlink":"tokenbb-topic-check-my-latest-fight-venzam-vs--1562887868220","max_accepted_payout":"1000000.000
        SBD","percent_steem_dollars":0,"allow_votes":true,"allow_curation_rewards":true,"extensions":[[0,{"beneficiaries":[{"account":"drugwars","weight":600},{"account":"drugwars-dealer","weight":800},{"account":"tokenbb","weight":100}]}]]}]],"extensions":[],"signatures":["1f2c16e6cafcdea26d6b07cd169f1477fab2605545741b1f4fc21cd38c09bc3b401954911b004993c2ce786edfb6afcbf05b453113b22f83a9d4b2ac330a4f52fb"],"transaction_id":"89ae7be600c9cb8caeff28428b80fad000f6337d","block_num":34581739,"transaction_num":0},{"ref_block_num":44261,"ref_block_prefix":586572063,"expiration":"2019-07-11T23:32:05","operations":[["vote",{"voter":"profquax","author":"rjoshicool","permlink":"agri10x-blockchain-powered-marketplace-connecting-farmers-to-traders","weight":123}]],"extensions":[],"signatures":["206b1ab97e5030c3ad326d667bec7fe550a9fa706b15652460d80a832c128c13d80cf004ff9b578239291cda7b4bd96cbaf05dafa955b7c8430138e038c2c1b0ad"],"transaction_id":"63d8a365ca2e1bb75643d0fb82da13b8680c1201","block_num":34581739,"transaction_num":1},{"ref_block_num":44246,"ref_block_prefix":807510595,"expiration":"2019-07-11T23:41:06","operations":[["[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.broadcast_transaction_synchronous","params":[{"expiration":"2019-07-11T23:42:00","ref_block_num":44266,"ref_block_prefix":3373152490,"operations":[["custom_json",{"required_auths":["bittrex"],"required_posting_auths":[],"id":"ssc-mainnet1","json":"[{\"contractName\":\"tokens\",\"contractAction\":\"transfer\",\"contractPayload\":{\"symbol\":\"DROTTO\",\"to\":\"from\",\"quantity\":\"2.00000000\"}},{\"contractName\":\"tokens\",\"contractAction\":\"transfer\",\"contractPayload\":{\"symbol\":\"DROTTO\",\"to\":\"from\",\"quantity\":\"2.00000000\"}},{\"contractName\":\"tokens\",\"contractAction\":\"transfer\",\"contractPayload\":{\"symbol\":\"DROTTO\",\"to\":\"from\",\"quantity\":\"2.00000000\"}},{\"contractName\":\"tokens\",\"contractAction\":\"transfer\",\"contractPayload\":{\"symbol\":\"DROTTO\",\"to\":\"from\",\"quantity\":\"2.00000000\"}},{\"contractName\":\"tokens\",\"co[...]
