---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_history","params":["bittrex",-1,199],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_account_history.params=['bittrex',-1,199]
      X-Jussi-Request-Id:
      - '000437954666005720'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":[[375080,{"trx_id":"c1728bfd1c9534fd4af431fecf904bdfaefb0804","block":22000333,"trx_in_block":12,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-04-29T20:16:33","op":["transfer",{"from":"bittrex","to":"deepcrypto8","amount":"25.269
        STEEM","memo":"100202102"}]}],[375081,{"trx_id":"554bae67c3df20baaa5f0d962517ae572a39155c","block":22000381,"trx_in_block":33,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-04-29T20:18:57","op":["transfer",{"from":"dana-edwards","to":"bittrex","amount":"19.993
        SBD","memo":"03432f4a1c07486bb34"}]}],[375082,{"trx_id":"4606a18b17c347c7ce24f06e647b981dab4dab47","block":22000414,"trx_in_block":33,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-04-29T20:20:36","op":["transfer",{"from":"bittrex","to":"primuse[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000386224359455731'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"jsonrpc":"2.0","result":{"head_block_number":22006960,"head_block_id":"014fccb06482cabf830e670303c21c6505721ac5","time":"2018-04-30T01:48:03","current_witness":"ausbitbank","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"270641093.459
        STEEM","current_supply":"267655637.189 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"12550858.162 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190805457.168 STEEM","total_vesting_shares":"388596319962.696339
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"388269017.331807
        VESTS","pending_rewarded_vesting_steem":"189265.746 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":22072561,"recent_slots_filled":"255211775190703847597530955573826000000","participation_count":127,"last_irreversible_block_num":22006939,"vote_power_reserve_rate":10,"average_block_size":13201,"current_reserve_ratio":200000000,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Mon, 30 Apr 2018 01:48:03 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"block_api.get_block","params":{"block_num":22006939},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000278105508443778'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"block":{"previous":"014fcc9a8f9f36cd3d4c3367439c9749e34ffab9","timestamp":"2018-04-30T01:47:00","witness":"pfunk","transaction_merkle_root":"2016704193e2b329d28ee71aad934ebc98c75fa8","extensions":[],"witness_signature":"1f74dce72ff5445c027a96716c61b059d99a3e45fec96a33d4af82abf93e0d135f271e64a5a55ca38534dfb54ad8d758a320377426ca03c43e32e60834569e94e7","transactions":[{"ref_block_num":52354,"ref_block_prefix":3300403378,"expiration":"2018-04-30T01:56:54","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["charlott"],"id":"follow","json":"[\"follow\",{\"follower\":\"charlott\",\"following\":\"bryanps5230\",\"what\":[\"blog\"]}]"}]],"extensions":[],"signatures":["1f5783cf61f84faf38538f0830a96a9a7d6498ebd0daa04c25dd03e270c1a765c635e11704f837de8a4c55657932a542b0c662176d6517d81cad027e095f903b1e"]},{"ref_block_num":52376,"ref_block_prefix":2402864832,"expiration":"2018-04-30T01:47:22","operations":[["vote",{"voter":"astri","author":"keyza","permlink":"jangan-takut-mencoba-sesuatu-yang-baru","weight":10000}]],"extensions":[],"signatures":["20050228efae605bc301f135fc5f00dedfaeb28a6799495ee393d7d80156bf62420ff0c89cf0fb120096e867dfd12f002dd30143af80d56413b3c437fd44f80a5a"]},{"ref_block_num":52354,"ref_block_prefix":3300403378,"expiration":"2018-04-30T01:56:54","operations":[["vote",{"voter":"leesmoketree","author":"britvr","permlink":"warren-buffet-is-100-wrong-on-cryptocurrencies","weight":10000}]],"extensions":[],"signatures":["1f2b5ebb3795798903d956c26f50d5bf5ff3b1c268896e6d861e59c7542c4fc3a[...]
[...]
