---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_account_history",["bittrex",-1,199]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":[[192069,{"trx_id":"495ad733c9f7c8a4a0fe0b4670f1720e232ddec0","block":17812993,"trx_in_block":1,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-12-05T07:15:09","op":["transfer",{"from":"jamesallen","to":"bittrex","amount":"1.643
        SBD","memo":"#8S8VH5hgzmEiHauq1njmAHmqrgMJ4iodvMPqoZijCWgUCCy6yYwfGZL5o6zWY7qWVZDoP3MNhKnWa8pekzddaHB9AB7bqmcgrC8CNYyzBqebQUXZhSm6vXfYt2ciFAQM1TzhnXgxjd1wvx1MhCruGpa"}]}],[192070,{"trx_id":"120bd3cbf42aed41c8530f1167c999a14d247d94","block":17813029,"trx_in_block":1,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-12-05T07:16:57","op":["transfer",{"from":"ranielbrianulan","to":"bittrex","amount":"10.997
        SBD","memo":"1d8a27c109d042168b3"}]}],[192071,{"trx_id":"2d45268491806fddb324cc86ea3cae2627e130a3","[...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"result":{"id":0,"head_block_number":17829848,"head_block_id":"01100fd87d884b8f31558d35e2d9d98e45a9faa7","time":"2017-12-05T21:18:30","current_witness":"pfunk","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"263623356.186
        STEEM","current_supply":"260807886.554 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3527783.450 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"192960446.142 STEEM","total_vesting_shares":"395927067519.127271
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"407479353.235014
        VESTS","pending_rewarded_vesting_steem":"197744.458 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":17891170,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":17829827,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":8199,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Tue, 05 Dec 2017 21:18:31 GMT
[...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["block_api","get_block",[17829827]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"previous":"01100fc2c10da1fbdf3d48cd8ed13173a45e0ba6","timestamp":"2017-12-05T21:17:27","witness":"lukestokes.mhth","transaction_merkle_root":"8583cc18d398242670f821ed3e284b050297b401","extensions":[],"witness_signature":"1f71998e3b88a2a5ac02b5c3c6eb7e10fb5ff0db1b66f3656928ced270b29a2c03602c6afaa31ab45d71261378ad9059f0c247741df8d5fd5789348c537853ca77","transactions":[{"ref_block_num":4012,"ref_block_prefix":212656159,"expiration":"2017-12-05T21:27:18","operations":[["vote",{"voter":"jekisatria","author":"cryptotraderx","permlink":"venezuela-creating-national-cryptocurrency","weight":10000}]],"extensions":[],"signatures":["1f4755d78d8cd5cf7f4152b6ab5cebb97cc5d34daf4db89affceb750d350739c2459e9bcad941fd0d7425bb9bd362eb2148841ba4e255e7c64bb9952f5759b884b"]},{"ref_block_num":4013,"ref_block_prefix":296409500,"expiration":"2017-12-05T21:27:21","operations":[["vote",{"voter":"z80","author":"kinoeater","permlink":"lost","weight":10000}]],"extensions":[],"signatures":["1f1d713a8bbf162fd58e88ea7953e1928f3f8a210280c13c319ae25214311eaf3f70e77d8f0baa9a26adf14ab6951842b3eb02500b0558c4261f6307424663352e"]},{"ref_block_num":4013,"ref_block_prefix":296409500,"expiration":"2017-12-05T21:27:21","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["a-a-a"],"id":"follow","json":"[\"follow\",{\"follower\":\"a-a-a\",\"following\":\"djdyvad\",\"what\":[\"blog\"]}]"}]],"extensions":[],"signatures":["1f04fea647f9bb8fe4b94e2e318a82549c1a7b20d43ab5d1f3c4d86ba0bd2932956ea60815133da15be6f5959ccebd6d2cb8de01838284673f5e4c3086bbf8e2a1"]},{"ref_block_num":4013,"ref_block_prefix":296409500,"expiration":"2017-12-05T21:27:21","operations":[["claim_reward_balance",{"account":"boontjie","reward_steem":"0.000
        STEEM","reward_sbd":"0.000 SBD","reward_vests":"1984.170607 VESTS"}]],"extensions":[],"signatures":["200fdcfea8af2b2e6ea69d7c3de10649564c39f4b06a579a8a153db5b3b098860b38d9b0e80ff7a64721369cbaa24233fd6a65a73294f197798900c8cedbe81344"]},{"ref_block_num":4013,"ref_block_prefix":296409500,"expiration":"2017-12-05T21:27:24","operations":[["vote",{"voter":"jhelbich","author":"hamzayousaf","permlink":"my-first-visit-to-naran-kaghan-siri-paye-and-lake-saif-ul-mulook","weight":6557}]],"extensions":[],"signatures":["1c5308422616bf824021351aa00ec146195[...]
[...]
