---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_history","params":["bittrex",-1,199],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000364419964691411'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[[388934,{"trx_id":"ecdbcc3a5d278631087a38d542c00fc3c1e2524a","block":22571761,"trx_in_block":15,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-05-19T16:33:48","op":["transfer",{"from":"bittrex","to":"ackza","amount":"7.321
        STEEM","memo":""}]}],[388935,{"trx_id":"a0334682dc8344668c0814a0ff668ddc801288fb","block":22571767,"trx_in_block":8,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-05-19T16:34:06","op":["transfer",{"from":"kurtbeil","to":"bittrex","amount":"46.204
        STEEM","memo":"6e5c491672e04e53841"}]}],[388936,{"trx_id":"ad4ae9d2540af934113d7dd1f279d3cf20f7e613","block":22571811,"trx_in_block":18,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-05-19T16:36:18","op":["transfer",{"from":"calaber24p","to":"bittrex","amount[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000644857163988200'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"jsonrpc":"2.0","result":{"head_block_number":22582416,"head_block_id":"01589490f21270e4a5367653f866530b4ca74c23","time":"2018-05-20T01:26:39","current_witness":"gtg","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"273345495.889
        STEEM","current_supply":"268590380.316 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"13899202.822 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"191179537.319 STEEM","total_vesting_shares":"388954400617.608047
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"364686024.195463
        VESTS","pending_rewarded_vesting_steem":"177785.894 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":22648133,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":22582398,"vote_power_reserve_rate":10,"average_block_size":14096,"current_reserve_ratio":200000000,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Sun, 20 May 2018 01:26:41 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_block","params":[22582398],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_block.params=[22582398]
      X-Jussi-Request-Id:
      - '000897976957411364'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"jsonrpc":"2.0","result":{"previous":"0158947df2f9911d41eb1030ef64f6cb03538085","timestamp":"2018-05-20T01:25:45","witness":"jesta","transaction_merkle_root":"874895d4dca84f100b7a1ccaa2ce8d6a949ee6e5","extensions":[],"witness_signature":"1f2609aa8ab637434f18c3ccd1398a9be47c16b503255fe6130791a6a9f5a3eebd67e129dc34f7823507e5242de41f0f29bd65762586af6c24bce760ab2ada9753","transactions":[{"ref_block_num":37992,"ref_block_prefix":2636412577,"expiration":"2018-05-20T01:35:27","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["luisapercefield"],"id":"follow","json":"[\"follow\",{\"follower\":\"luisapercefield\",\"following\":\"lindamunda\",\"what\":[\"blog\"]}]"}]],"extensions":[],"signatures":["1f1457138c7885fa751b5867ec843d420fbd2f37fefd7b6bc84527c378e4736b9a247b105f941d6878095fd1778bab7e35917f81be676e597250ec5f9979f523ec"],"transaction_id":"f4d0a5a1a156351967d3a395c818f29d1a22f3ce","block_num":0,"transaction_num":0},{"ref_block_num":38011,"ref_block_prefix":1529707915,"expiration":"2018-05-20T01:26:37","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["siskata"],"id":"follow","json":"[\"follow\",
        {\"following\": \"milanbeko\", \"what\": [\"blog\"], \"follower\": \"siskata\"}]"}]],"extensions":[],"signatures":["1f02ba25dabadc4f786dda6cbfb5159e4f5cea4663df6867cd6f31412b3e914cae3f1a91e04ea30766f2a75a3d000930afc4dd9da6f8cf5d5ae125d539e2529afd"],"transaction_id":"033689d218bb7216c3cfe49c4f1e30d267d78101","block_num":0,"transaction_num":0},{"ref_block_num":37992,"ref_block_prefix":2636412577,"expiration":"2018-05-20T01:35:36","operations":[["comment",{"parent_author":"","parent_permlink":"photography","author":"jahid1","permlink":"nice-two-goat","title":"Nice
        two goat","body":"![2018-04-23 13.04.45.jpg](https:\/\/steemitimages.com\/DQmZTPf3o52UzhFor5vYJgC9fWA7pZ1jjMAvf2qzK4qieX7\/2018-04-23%2013.04.45.jpg)","json_metadata":"{\"tags\":[\"photography\",\"blog\",\"steemit\",\"bitcoin\"],\"image\":[\"https:\/\/steemitimages.com\/DQmZTPf3o52UzhFor5vYJgC9fWA7pZ1jjMAvf2qzK4qieX7\/2018-04-23%2013.04.45.jpg\"],\"app\":\"steemit\/0.1\",\"format\":\"markdown\"}"}]],"extensions":[],"signatures":["1f7609a4d0a9119a8b17ece67edb296e9cf0af80161690cfd469cddf9f091e846e4036c2f59b7b4da8ec4c616c3778928e0af1ccff74b10ca8730db39eae12394f"],"transaction_id":"149b913319009ad982c0dae4063421db026762f7","block_num":0,"transaction_num":0},{"ref_block_num":37993,"ref_block_prefix":1017011899,"expiration":"2018-05-20T01:35:39","operations":[["transfer",{"from":"kennyn","to":"promobot","amount":"9.950
        SBD","memo":"https:\/\/steemit.com\/health\/@kennyn\/3-benefits-of-guava-with-beauty"}]],"extensions":[],"signatures":["2030561eec9e0c93b754cbc6a8237412dffca4dc8de7450e6077cfc86e55601bfa73cfe7267633773993221661ebdca817296b075d27ff2eee8711af91a9f59d2f"],"transaction_id":"3bc1857b7f601081735faef3eb851d1f348d1552","block_num":0,"transaction_num":0},{"ref_block_num":37993,"ref_block_prefix":1017011899,"expiration":"2018-05-20T01:35:39","operations":[["vote",{"voter":"otage","author":"gillianpearce","permlink":"re-otage-from-the-air-flying-photography-20180519t215032292z","weight":1000}]],"extensions":[],"signatures":["1f1f6d6ed22279bcc7459676093f30d50496c2cf8cf03e856afdc58c321413806a19561a9c16e5a29f154210ac39123a6b0cae416edc732b9b2b46558ef8fce881"],"transaction_id":"3142c916e74d9a816587da7e1b11bed89ed4c6a4","block_num":0,"transaction_num":0},{"ref_block_num":37987,"ref_block_prefix":1578296574,"expiration":"2018-05-20T01:35:12","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["smartsocial"],"id":"follow","json":"[\"follow\",{\"follower\":\"smar[...]
[...]
