---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_account_history",["bittrex",-200,200]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":[[176313,{"trx_id":"10d1146313ead80277ec7da5a78f8497546f7ca6","block":17183909,"trx_in_block":7,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-11-13T10:48:15","op":["transfer",{"from":"princesschocho","to":"bittrex","amount":"416.061
        STEEM","memo":"88812be164864625944"}]}],[176314,{"trx_id":"cd2825ba6793eabefc9d7b0fcc0faba6c636b127","block":17183971,"trx_in_block":0,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-11-13T10:51:21","op":["transfer",{"from":"radhikapatel","to":"bittrex","amount":"5.000
        STEEM","memo":"0b16ecaf29b74712b26"}]}],[176315,{"trx_id":"ed1b495fd1c774b155ef3ff12fd3139a091692e5","block":17184120,"trx_in_block":8,"op_in_trx":0,"virtual_op":0,"timestamp":"2017-11-13T10:58:48","op":["transfer",{"from":"steembet.asia[...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"result":{"id":0,"head_block_number":17194707,"head_block_id":"01065ed36291d1f917867b5797d63acfc87f3b20","time":"2017-11-13T19:48:15","current_witness":"riverhead","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"263287919.600
        STEEM","current_supply":"259541353.392 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3338190.492 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"191499102.567 STEEM","total_vesting_shares":"393371391673.824301
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"383789391.948380
        VESTS","pending_rewarded_vesting_steem":"186142.400 STEEM","sbd_interest_rate":1,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":17255765,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":17194688,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":8776,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Mon, 13 Nov 2017 19:48:15 GMT
[...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["block_api","get_block",[17194688]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"previous":"01065ebf2352086e2214882edfc141b47108865d","timestamp":"2017-11-13T19:47:18","witness":"timcliff","transaction_merkle_root":"41e48761f4be9487ef41d3f8a04c943a965d0053","extensions":[],"witness_signature":"1f78c29a43c851269c0bcbb6664daef51bdef32510d7fa073a6b668b25221effdd42e0f66caa3e546768416303f6ef2ad5304c826a3ef6a1611542877b0984082d","transactions":[{"ref_block_num":24231,"ref_block_prefix":3332528309,"expiration":"2017-11-13T19:57:12","operations":[["vote",{"voter":"kad","author":"oliverbix","permlink":"viuly-blockchain-tabanli-video-paylasim-platformu-yeni","weight":10000}]],"extensions":[],"signatures":["1f0420fcc0b425a00f1891f080a48c4e66a01a87c6224c0cd58cb150638c433e0b36f2efb73ab4366df9d9f873468369b2751c885896adfa50e51fa35901522e94"]},{"ref_block_num":24252,"ref_block_prefix":615758348,"expiration":"2017-11-13T19:47:38","operations":[["vote",{"voter":"blancaaguirre","author":"rdp","permlink":"re-blade-runner-2049-tv-spot-aun-queda-una-pagin25125-20171113t194353","weight":10000}]],"extensions":[],"signatures":["1f23d0d0b4500de51552175b865574401100ad92d6a5de8a2ccf06ea4abcd867bd740fb0c10bbe1813e[...]
