---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_account_history",["bittrex",-1,199]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_account_history.params=['bittrex',-1,199]
      X-Jussi-Request-Id:
      - '000773465071566088'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":[[329603,{"trx_id":"d7d2738a51be357c41f024012030f5c244c8a9b1","block":20308601,"trx_in_block":16,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-03-02T00:40:09","op":["transfer",{"from":"bittrex","to":"voooel","amount":"9.190
        STEEM","memo":"STM5PeXHQAohemQFgMqnC6Gcar9Y6hBKWNdSCD4qqgPEPCgFdncR1"}]}],[329604,{"trx_id":"f7ad26f8d07846c13117fe81b4943a17fe9d2890","block":20308614,"trx_in_block":62,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-03-02T00:40:48","op":["transfer",{"from":"anyx","to":"bittrex","amount":"309.487
        STEEM","memo":"9ccb7a720f484fb8b1a"}]}],[329605,{"trx_id":"d7f50718a03ba80ccbfb8ce02c587ba2f9dc20c6","block":20308707,"trx_in_block":12,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-03-02T00:45:27","op":["tr[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000653353542079726'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"jsonrpc":"2.0","result":{"id":0,"head_block_number":20316268,"head_block_id":"0136006cca780b84b95762214d850a65d9d2c5a5","time":"2018-03-02T07:03:33","current_witness":"timcliff","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"267785024.228
        STEEM","current_supply":"264829304.137 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"9934175.226 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"186641965.085 STEEM","total_vesting_shares":"381291254106.957571
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"316335115.908734
        VESTS","pending_rewarded_vesting_steem":"153883.485 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":20379671,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":20316250,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":16716,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Fri, 02 Mar 2018 07:03:36 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["block_api","get_block",[20316250]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.block_api.get_block.params=[20316250]
      X-Jussi-Request-Id:
      - '000067646718922039'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"previous":"0136005937d2485ba91c658796eb8d97bff606c3","timestamp":"2018-03-02T07:02:39","witness":"good-karma","transaction_merkle_root":"e006cba3f412468384ae845c37f758fe8f6584d3","extensions":[],"witness_signature":"2068781383723bb3558f2885ee0a75b95406fa4aeed00ff4d9c86e1d97327c2db629b0c5c1a855a4ed734956ce55c7bdfd3af3ce6d87f61e5497b8e71b75ee90bc","transactions":[{"ref_block_num":71,"ref_block_prefix":2027294904,"expiration":"2018-03-02T07:12:33","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["davaro"],"id":"follow","json":"[\"follow\",{\"follower\":\"davaro\",\"following\":\"babubade\",\"what\":[\"blog\"]}]"}]],"extensions":[],"signatures":["1f5b31b78ae4afeb8e7df89defe6a7bdc152818a2c8b5b047cc245e3df087a782d3b41b6fde03934f3eaf561776679d4d495bd906f0aecd9e8a79243b410d651cd"]},{"ref_block_num":88,"ref_block_prefix":4140757511,"expiration":"2018-03-02T07:03:03","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["hilo"],"id":"follow","json":"[\"follow\",
        {\"follower\": \"hilo\", \"following\": \"richman\", \"what\": [\"blog\"]}]"}]],"extensions":[],"signatures":["1f36e08d18cc016d30ce1a08c2d863909ddad5b5cc50960f2650f929c82a1f9ccf7c04db4e2df30bd9604e415a9794dd0c22f9bed595112b8c35d22a2c2a7a8ccc"]},{"ref_block_num":70,"ref_block_prefix":2128126508,"expiration":"2018-03-02T07:12:30","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["shin-hana"],"id":"follow","json":"[\"reblog\",{\"account\":\"shin-hana\",\"author\":\"bescouted\",\"permlink\":\"silent-portraits-march-the-1st-for-the-first-day-of-spring-i-give-you-my-autoportrait-let-it-be-exceptional\"}]"}]],"extensions":[],"signatures":["207aec10044ae57ef0e7d9c317b52692363c80ea55c1d54a405026b51bb6233d55342cb6ba08a3900fe23cdd350818e5a607f4e5d5308326d89d791f8ecbb67915"]},{"ref_block_num":88,"ref_block_prefix":4140757511,"expiration":"2018-03-02T07:03:33","operations":[["vote",{"voter":"steemtimes","author":"steemmaster","permlink":"an-elephant-clings-to-the-body-of-his-dead-mother-for-a-whole-night","weight":10000}]],"extensions":[],"signatures":["20467780e8d3e96cd94a00c95fa140e8d09773ffa3c2b46ecb17089f777935935b68924e775172944af7055e696cf88160573ec8620a9014e4049b06b91c4c93cf"]},{"ref_block_num":71,"ref_block_prefix":2027294904,"expiration":"2018-03-02T07:12:33","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["raise-me-up"],"id":"follow","json":"[\"follow\",{\"follower\":\"raise-me-up\",\"following\":\"kani77\",\"what\":[\"blog\"]}]"}]],"extensions":[],"signatures":["204c[...]
[...]
