---
http_interactions:
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"find","params":{"contract":"tokens","table":"transfers","query":{"symbol":""},"limit":0},"jsonrpc":"2.0","id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":2,"result":null}'
  recorded_at: Thu, 11 Jul 2019 23:32:39 GMT
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"find","params":{"contract":"tokens","table":"balances","query":{"symbol":"BANJO"},"limit":1000,"offset":0},"jsonrpc":"2.0","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"result":[{"account":"banjo","symbol":"BANJO","balance":"616.99900000","stake":"0","delegatedStake":"0","receivedStake":"0","pendingUnstake":"0","$loki":33677},{"account":"whatsup","symbol":"BANJO","balance":"10.00000000","stake":"49.00000000","delegatedStake":"0","receivedStake":"0","pendingUnstake":"0","$loki":33678},{"account":"coinbase","symbol":"BANJO","balance":"1.00000000","stake":"0","delegatedStake":"0","receivedStake":"0","pendingUnstake":"0","$loki":33679},{"account":"howo","symbol":"BANJO","balance":"1.00000000","stake":"0","delegatedStake":"0","receivedStake":"0","pendingUnstake":"0","$loki":33688},{"account":"ackza","sy[...]
[...]
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"find","params":{"contract":"tokens","table":"balances","query":{"symbol":"BANJO"},"limit":1000,"offset":554},"jsonrpc":"2.0","id":3}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":3,"result":[]}'
  recorded_at: Thu, 11 Jul 2019 23:32:43 GMT
recorded_with: VCR 4.0.0
