---
http_interactions:
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"find","params":{"contract":"tokens","table":"transfers","query":{"symbol":""},"limit":0},"jsonrpc":"2.0","id":6}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":6,"result":null}'
  recorded_at: Thu, 11 Jul 2019 23:32:43 GMT
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"find","params":{"contract":"tokens","table":"balances","query":{"symbol":"DROTTO"},"limit":1000,"offset":0},"jsonrpc":"2.0","id":5}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":5,"result":[]}'
  recorded_at: Thu, 11 Jul 2019 23:32:44 GMT
recorded_with: VCR 4.0.0
