---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_ticker",[]],"id":3,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.market_history_api.get_ticker.params=[]
      X-Jussi-Request-Id:
      - '001106417784116385'
    body:
      encoding: UTF-8
      string: '{"id":3,"jsonrpc":"2.0","result":{"latest":"0.98550724637681153","lowest_ask":"0.97847234836919339","highest_bid":"0.97845443337703764","percent_change":"-0.46346004865651735","steem_volume":"3742.085
        STEEM","sbd_volume":"3712.253 SBD"}}'
  recorded_at: Sun, 04 Mar 2018 04:29:09 GMT
recorded_with: VCR 3.0.3
