---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"id":0,"head_block_number":17829885,"head_block_id":"01100ffd87e32497add78e9765be4c21407ae953","time":"2017-12-05T21:20:21","current_witness":"gtg","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"263623440.470
        STEEM","current_supply":"260807912.155 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3527856.979 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"192960594.060 STEEM","total_vesting_shares":"395927345137.844811
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"407462272.033408
        VESTS","pending_rewarded_vesting_steem":"197736.134 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":17891207,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":17829868,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":8767,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Tue, 05 Dec 2017 21:20:21 GMT
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_block",[17829868]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"result":{"previous":"01100febb4f991e52dafe035d319c2ec275cb4d2","timestamp":"2017-12-05T21:19:30","witness":"aggroed","transaction_merkle_root":"6eab793ac3066eeae85878d4b0cb844acf103956","extensions":[],"witness_signature":"1f01472f4600fa7db17cd17ac3bc4503c79356ee846b67d1384da4c96fffa6cd240d30fcd05fd737ff61475d3d2d48cb3444543a62fd9879eaddd42c69c413aaf3","transactions":[{"ref_block_num":4053,"ref_block_prefix":146630097,"expiration":"2017-12-05T21:29:21","operations":[["vote",{"voter":"mageofor","author":"sndbox","permlink":"developing-a-proof-of-concept-for-education-on-steemit","weight":10000}]],"extensions":[],"signatures":["1f7f70fed78478f8aa9aa1844a2002065ed18fb2312a71afd0e183c5b8e44c0fc674b2b4d4242de2404399230e98deaa4890fb51ea5ca938e3945916d2aed01873"]},{"ref_block_num":4071,"ref_block_prefix":3105216587,"expiration":"2017-12-05T21:20:24","operations":[["vote",{"voter":"icedrum","author":"dana-edwards","permlink":"the-government-crackdown-on-crypto-is-about-to-start-in-the-us","weight":8555}]],"extensions":[],"signatures":["2001da6f3791185d3b559286396874f3e6c94173bd900fd20ea2ff395e5e87631774bf43fe08a0a6a46b1e66[...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["network_broadcast_api","broadcast_transaction_synchronous",[{"expiration":"2017-12-05T21:30:21","ref_block_num":4075,"ref_block_prefix":3851549108,"operations":[["vote",{"voter":"bittrex","author":"author","permlink":"permlink","weight":313}]],"extensions":[],"signatures":["1b49b1f5c279a08783b5113a6445668ed73eb8e3c8ca72e5ea9d380899e2b78e633d7965a6d7f806359c358aee86585aa2b155bfa98f757e07b21260c1cbff641f"]}]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"3030000 tx_missing_posting_auth:
        missing required posting authority\nMissing Posting Authority bittrex\n    {\"id\":\"bittrex\",\"posting\":{\"weight_threshold\":1,\"account_auths\":[],\"key_auths\":[[\"STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF\",1]]},\"active\":{\"weight_threshold\":1,\"account_auths\":[],\"key_auths\":[[\"STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF\",1]]},\"owner\":{\"weight_threshold\":1,\"account_auths\":[],\"key_auths\":[[\"STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF\",1]]}}\n    th_a  transaction.cpp:129
        verify_authority\n\n    {\"ops\":[[\"vote\",{\"voter\":\"bittrex\",\"author\":\"author\",\"permlink\":\"permlink\",\"weight\":313}]],\"sigs\":[\"STM5ctejUsoZ9FwfCaVbNvWYYgNMBo9TVsHSE8wHrqAmNJi6sDctt\"]}\n    th_a  transaction.cpp:172
        verify_authority\n\n    {\"*this\":{\"ref_block_num\":4075,\"ref_block_prefix\":3851549108,\"expiration\":\"2017-12-05T21:30:21\",\"operations\":[[\"vote\",{\"voter\":\"bittrex\",\"author\":\"author\",\"permlink\":\"permlink\",\"weight\":313}]],\"extensions\":[],\"signatures\":[\"1b49b1f5c279a08783b5113a6445668ed73eb8e3c8ca72e5ea9d380899e2b78e633d7965a6d7f806359c358aee86585aa2b155bfa98f757e07b21260c1cbff641f\"]}}\n    th_a  transaction.cpp:285
        verify_authority\n\n    {\"trx\":{\"ref_block_num\":4075,\"ref_block_prefix\":3851549108,\"expiration\":\"2017-12-05T21:30:21\",\"operations\":[[\"vote\",{\"voter\":\"bittrex\",\"author\":\"author\",\"permlink\":\"permlink\",\"weight\":313}]],\"extensions\":[],\"signatures\":[\"1b49b1f5c279a08783b5113a6445668ed73eb8e3c8ca72e5ea9d380899e2b78e633d7965a6d7f806359c358aee86585aa2b155bfa98f757e07b21260c1cbff641f\"]}}\n    th_a  database.cpp:2896
        _apply_transaction\n\n    {\"trx\":{\"ref_block_num\":4075,\"ref_block_prefix\":3851549108,\"expiration\":\"2017-12-05T21:30:21\",\"operations\":[[\"vote\",{\"voter\":\"bittrex\",\"author\":\"author\",\"permlink\":\"permlink\",\"weight\":313}]],\"extensions\":[],\"signatures\":[\"1b49b1f5c279a08783b5113a6445668ed73eb8e3c8ca72e5ea9d380899e2b78e633d7965a6d7f806359c358aee86585aa2b155bfa98f757e07b21260c1cbff641f\"]}}\n    th_a  database.cpp:660
        push_transaction\n\n    {\"call.method\":\"call\",\"call.params\":[\"network_broadcast_api\",\"broadcast_transaction_synchronous\",[{\"expiration\":\"2017-12-05T21:30:21\",\"ref_block_num\":4075,\"ref_block_prefix\":3851549108,\"operations\":[[\"vote\",{\"voter\":\"bittrex\",\"author\":\"author\",\"permlink\":\"permlink\",\"weight\":313}]],\"extensions\":[],\"signatures\":[\"1b49b1f5c279a08783b5113a6445668ed73eb8e3c8ca72e5ea9d380899e2b78e633d7965a6d7f806359c358aee86585aa2b155bfa98f757e07b21260c1cbff641f\"]}]]}\n    th_a  websocket_api.cpp:124
        on_message","data":{"code":3030000,"name":"tx_missing_posting_auth","message":"missing
        required posting authority","stack":[{"context":{"level":"error","file":"transaction.cpp","line":129,"method":"verify_authority","hostname":"","thread_name":"th_a","timestamp":"2017-12-05T21:20:22"},"format":"Missing
        Posting Authority ${id}","data":{"id":"bittrex","posting":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF",1]]},"owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF",1]]}}},{"context":{"level":"warn","file":"transaction.cpp","line"[...]
