---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"id":0,"head_block_number":17194735,"head_block_id":"01065eefe9e6b625055d23766233f1e5aa8d0468","time":"2017-11-13T19:49:39","current_witness":"liondani","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"263287983.136
        STEEM","current_supply":"259541376.887 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3338226.168 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"191499175.226 STEEM","total_vesting_shares":"393371521326.113837
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"383781968.754754
        VESTS","pending_rewarded_vesting_steem":"186138.793 STEEM","sbd_interest_rate":1,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":17255793,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":17194720,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":8843,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Mon, 13 Nov 2017 19:49:40 GMT
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_block",[17194720]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"result":{"previous":"01065edf32d87adf96b03b072db15ce84ecb7aee","timestamp":"2017-11-13T19:48:54","witness":"timcliff","transaction_merkle_root":"c9221e2c1063abe31209bac4468c55ab4b74b9d2","extensions":[],"witness_signature":"2063e03931116f71ff68833b74051a2c238d2a3c34accad07e49b79bca3b28c15a331bee88222ec887cf04dadcd6918807a6e891994697a828e3450b3109a0a0f0","transactions":[{"ref_block_num":24268,"ref_block_prefix":1043902677,"expiration":"2017-11-13T19:58:48","operations":[["vote",{"voter":"schmidthappens","author":"schmidthappens","permlink":"monochrome-monday-rotterdam-in-black-and-white","weight":10000}]],"extensions":[],"signatures":["1f7443f49af3c00579eda4f95e5289d291b6b9b2281f23dd2948c818eb0ba473b01cd3c16fb9348764c7d45f0ede05f91a0a3a97f09ae978e593d35c99ee6720bb"]},{"ref_block_num":24268,"ref_block_prefix":1043902677,"expiration":"2017-11-13T19:58:48","operations":[["comment",{"parent_author":"campervanelvis","parent_permlink":"re-everittdmickey-do-you-want-to-be-20171113t054116213z","author":"everittdmickey","permlink":"re-campervanelvis-re-everittdmickey-do-you-want-to-be-20171113t194850397z","title":"","body":"Are
        you familiar with [Flying J Travel Centers]( https://pilotflyingj.com/)?\n
        ![](https://steemitimages.com/DQmY1jWJCndMRvxwhGSWGDcb1XXLX5zMMEDq43KoFKYqBQL/image.png)\nthe
        Flying J caters to [RV''s](  https://pilotflyingj.com/rv-services) \n ![](https://steemitimages.com/DQmS9C78CPzmdFXrJEhtWAuUg6A3wejFiXhr6Ph7KiPbHZe/image.png)\n..the
        Pilots.... not so much.","json_metadata":"{\"tags\":[\"steemit\"],\"image\":[\"https://steemitimages.com/DQmY1jWJCndMRvxwhGSWGDcb1XXLX5zMMEDq43KoFKYqBQL/image.png\",\"https://steemitimages.com/DQmS9C78CPzmdFXrJEhtWAuUg6A3wejFiXhr6Ph7KiPbHZe/image.png\"],\"links\":[\"https://pilotflyingj.com/\",\"https://pilotflyingj.com/rv-services\"],\"app\":\"steemit/0.1\"}"}]],"extensions":[],"signatures":["1f271f12774ba28f96f68cce6312b62ddf732fb6fa9269deb6b8d3cdd7583e397e579343383cf7c1274eae7d087b3bb1ecf3e2811f18e8a9838c2076f7ec417a78"]},{"ref_block_num":24283,"ref_block_prefix":191265326,"expiration":"2017-11-13T19:49:48","operations":[["vote",{"voter":"iltyush","author":"imosco","permlink":"my-work-place","weight":10000}]],"extensions":[],"signatures":["1f6e8a3e98f5f986768e349ab490c2728ea3dbc127c413dd5a84eba4505c9ac92b7fb6f09638876585e79b59ad1314a3887b72c6c4173344fbe5f44b50ad742bed"]},{"ref_block_num":24268,"ref_block_prefix":1043902677,"expiration":"2017-11-13T19:58:48","operations":[["claim_reward_balance",{"account":"buildawhale","reward_steem":"0.000
        STEEM","reward_sbd":"0.000 SBD","reward_vests":"26622.118082 VESTS"}]],"extensions":[],"signatures":["200d653343b835e8faacc35ec324b7980c9651906275e01c29b8e4f00dfac4ad6b2990d9fc47a7db06f794ec945dd135724888a82fd55e7c1339ef199b71be882c"]},{"ref_block_num":24268,"ref_block_prefix":1043902677,"expiration":"2017-11-13T19:58:48","operations":[["vote",{"voter":"sarnaly","author":"abdulwazed","permlink":"the-mummy-my-dear-movie","weight":10000}]],"extensions":[],"signatures":["1f087097fb681c8936f170c7a8f151dcfa4c6c02bb00f7f1b3ad0747480c11eb73191d1f91[...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["network_broadcast_api","broadcast_transaction_synchronous",[{"expiration":"2017-11-13T19:59:39","ref_block_num":24287,"ref_block_prefix":3749369906,"operations":[["vote",{"voter":"bittrex","author":"author","permlink":"permlink","weight":313}],["comment",{"parent_author":"author","parent_permlink":"permlink","author":"bittrex","permlink":"re-author-permlink-20171113t194939983z","title":"","body":"<p>This
        comment has received a 3.13 % upvote from @bittrex thanks to: @from, @from,
        @from.</p>\n","json_metadata":"{\"tags\":[\"parent_permlink\"],\"app\":\"drotto/0.0.3rc1\"}"}]],"extensions":[],"signatures":["1b768cd864eb924545d73b6ac2648f4833c03f79660b7ad33c307f368971d6a24a005cbe9b8cd721db9725b17006faf64919ee8517c297650e23675dba8b886e58"]}]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nis_canonical(
        c ): signature is not canonical\n    {}\n    th_a  elliptic_secp256k1.cpp:162
        public_key\n\n    {}\n    th_a  transaction.cpp:187 get_signature_keys\n\n    {\"*this\":{\"ref_block_num\":24287,\"ref_block_prefix\":3749369906,\"expiration\":\"2017-11-13T19:59:39\",\"operations\":[[\"vote\",{\"voter\":\"bittrex\",\"author\":\"author\",\"permlink\":\"permlink\",\"weight\":313}],[\"comment\",{\"parent_author\":\"author\",\"parent_permlink\":\"permlink\",\"author\":\"bittrex\",\"permlink\":\"re-author-permlink-20171113t194939983z\",\"title\":\"\",\"body\":\"<p>This
        comment has received a 3.13 % upvote from @bittrex thanks to: @from, @from,
        @from.</p>\\n\",\"json_metadata\":\"{\\\"tags\\\":[\\\"parent_permlink\\\"],\\\"app\\\":\\\"drotto/0.0.3rc1\\\"}\"}]],\"extensions\":[],\"signatures\":[\"1b768cd864eb924545d73b6ac2648f4833c03f79660b7ad33c307f368971d6a24a005cbe9b8cd721db9725b17006faf64919ee8517c297650e23675dba8b886e58\"]}}\n    th_a  transaction.cpp:285
        verify_authority\n\n    {\"trx\":{\"ref_block_num\":24287,\"ref_block_prefix\":3749369906,\"expiration\":\"2017-11-13T19:59:39\",\"operations\":[[\"vote\",{\"voter\":\"bittrex\",\"author\":\"author\",\"permlink\":\"permlink\",\"weight\":313}],[\"comment\",{\"parent_author\":\"author\",\"parent_permlink\":\"permlink\",\"author\":\"bittrex\",\"permlink\":\"re-author-permlink-20171113t194939983z\",\"title\":\"\",\"body\":\"<p>This
        comment has received a 3.13 % upvote from @bittrex thanks to: @from, @from,
        @from.</p[...]
[...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["network_broadcast_api","broadcast_transaction_synchronous",[{"expiration":"2017-11-13T19:59:39","ref_block_num":24287,"ref_block_prefix":3749369906,"operations":[["vote",{"voter":"bittrex","author":"author","permlink":"permlink","weight":313}],["comment",{"parent_author":"author","parent_permlink":"permlink","author":"bittrex","permlink":"re-author-permlink-20171113t194939983z","title":"","body":"<p>This
        comment has received a 3.13 % upvote from @bittrex thanks to: @from, @from,
        @from.</p>\n","json_metadata":"{\"tags\":[\"parent_permlink\"],\"app\":\"drotto/0.0.3rc1\"}"}]],"extensions":[],"signatures":["1c1526c5d918543c2ab4b2d06b22e63fa62a54c1c0118259721cffec7c549cef726612cd5a2a7e191c526c9baf5945e3374c6844b77e867815327181d24ac10feb"]}]],"id":3,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":3,"error":{"code":1,"message":"3030000 tx_missing_posting_auth:
        missing required posting authority\nMissing Posting Authority bittrex\n    {\"id\":\"bittrex\",\"posting\":{\"weight_threshold\":1,\"account_auths\":[],\"key_auths\":[[\"STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF\",1]]},\"active\":{\"weight_threshold\":1,\"account_auths\":[],\"key_auths\":[[\"STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF\",1]]},\"owner\":{\"weight_threshold\":1,\"account_auths\":[],\"key_auths\":[[\"STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF\",1]]}}\n    th_a  transaction.cpp:129
        verify_authority\n\n    {\"ops\":[[\"vote\",{\"voter\":\"bittrex\",\"author\":\"author\",\"permlink\":\"permlink\",\"weight\":313}],[\"comment\",{\"parent_author\":\"author\",\"parent_permlink\":\"permlink\",\"author\":\"bittrex\",\"permlink\":\"re-author-permlink-20171113t194939983z\",\"title\":\"\",\"body\":\"<p>This
        comment has received a 3.13 % upvote from @bittrex thanks to: @from, @from,
        @from.</p>\\n\",\"json_metadata\":\"{\\\"tags\\\":[\\\"parent_permlink\\\"],\\\"app\\\":\\\"drotto/0.0.3rc1\\\"}\"}]],\"sigs\":[\"STM5ctejUsoZ9FwfCaVbNvWYYgNMBo9TVsHSE8wHrqAmNJi6sDctt\"]}\n    th_a  transaction.cpp:172
        verify_authority\n\n    {\"*this\":{\"ref_block_num\":24287,\"ref_block_prefix\":3749369906,\"expiration\":\"2017-11-13T19:59:39\",\"operations\":[[\"vote\",{\"voter\":\"bittrex\",\"author\":\"author\",\"permlink\":\"permlink\",\"weight\":313}],[\"comment\",{\"parent_author\":\"author\",\"parent_permlink\":\"permlink\",\"author\":\"bittrex\",\"permlink\":\"re-author-permlink-20171113t194939983z\",[...]
