---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_history","params":["bittrex",-1,9999],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000016389268588289'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[[503721,{"trx_id":"b411307850d80c8223cdab9b10ac00e009b3b12c","block":29677414,"trx_in_block":8,"op_in_trx":0,"virtual_op":0,"timestamp":"2019-01-22T11:40:36","op":["transfer",{"from":"bittrex","to":"paco-steem","amount":"324.139
        STEEM","memo":""}]}],[503722,{"trx_id":"1994980a45ec50173f02bbbd4d73505bc9280c31","block":29677415,"trx_in_block":10,"op_in_trx":0,"virtual_op":0,"timestamp":"2019-01-22T11:40:39","op":["transfer",{"from":"bittrex","to":"paco-steem","amount":"333.979
        STEEM","memo":""}]}],[503723,{"trx_id":"5b37d87f5792fa7d99cd44ed9c7c614ca7bc2cc7","block":29677416,"trx_in_block":8,"op_in_trx":0,"virtual_op":0,"timestamp":"2019-01-22T11:40:42","op":["transfer",{"from":"bittrex","to":"akbarbadsha","amount":"0.990
      [...]
