---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_ticker",[]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"result":{"latest":"0.54809405058781613","lowest_ask":"0.54877857568440525","highest_bid":"0.54824487546499712","percent_change":"-10.13567071250179019","steem_volume":"15433.343
        STEEM","sbd_volume":"8809.124 SBD"}}'
  recorded_at: Tue, 05 Dec 2017 21:20:00 GMT
recorded_with: VCR 3.0.3
