---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_history","params":["bittrex",-1,9999],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000982208903903095'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[[365280,{"trx_id":"8f40a4dc58a4f08a6a4d72cf44bce689bbf80919","block":21709949,"trx_in_block":2,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-04-19T17:42:33","op":["transfer",{"from":"olamax","to":"bittrex","amount":"11.400
        STEEM","memo":"0ea0abb4a2ed40caafe"}]}],[365281,{"trx_id":"099105cf3469cb3efe7fdaa354b07dd5ef2d892f","block":21709956,"trx_in_block":33,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-04-19T17:42:54","op":["transfer",{"from":"olamax","to":"bittrex","amount":"4.950
        SBD","memo":"f6ab2f71e8c84353aea"}]}],[365282,{"trx_id":"a69b2af84258c09147cffb3dea82d60678e0d185","block":21709961,"trx_in_block":10,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-04-19T17:43:09","op":["transfer",{"from":"bittrex","to":"raja[...]
