---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_ticker","params":[],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_ticker.params=[]
      X-Jussi-Request-Id:
      - '000040648620819072'
    body:
      encoding: UTF-8
      string: '{"id":2,"jsonrpc":"2.0","result":{"latest":"0.34845132743362833","lowest_ask":"0.35480965584348900","highest_bid":"0.35473572188719404","percent_change":"0.00000000000000000","steem_volume":"9401.133
        STEEM","sbd_volume":"3310.049 SBD"}}'
  recorded_at: Thu, 21 Feb 2019 04:34:27 GMT
recorded_with: VCR 4.0.0
