---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_ticker",[]],"id":3,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.market_history_api.get_ticker.params=[]
      X-Jussi-Request-Id:
      - '000291864583735637'
    body:
      encoding: UTF-8
      string: '{"id":3,"jsonrpc":"2.0","result":{"latest":"1.00000000000000000","lowest_ask":"0.93294112019897635","highest_bid":"0.92638036809815949","percent_change":"7.77202072538859667","steem_volume":"4946.722
        STEEM","sbd_volume":"4609.194 SBD"}}'
  recorded_at: Fri, 02 Mar 2018 07:06:11 GMT
recorded_with: VCR 3.0.3
