---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_ticker","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001041157547208261'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"latest":"1.50000000000000000","lowest_ask":"1.38937361414359395","highest_bid":"1.38937130948245913","percent_change":"7.13665315576143300","steem_volume":"851.226
        STEEM","sbd_volume":"1188.705 SBD"},"id":1}'
  recorded_at: Sun, 20 May 2018 01:25:16 GMT
recorded_with: VCR 3.0.3
