---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"id":0,"head_block_number":17829877,"head_block_id":"01100ff579e3a34561ef4358696a8079674abe7b","time":"2017-12-05T21:19:57","current_witness":"busy.witness","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"263623422.575
        STEEM","current_supply":"260807916.556 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3527829.042 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"192960572.114 STEEM","total_vesting_shares":"395927305705.090594
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"407434081.487479
        VESTS","pending_rewarded_vesting_steem":"197722.395 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":17891199,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":17829862,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":8164,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Tue, 05 Dec 2017 21:19:59 GMT
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_block",[17829862]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"result":{"previous":"01100fe5c700affcfc60b9bdc1a46e1333678722","timestamp":"2017-12-05T21:19:12","witness":"good-karma","transaction_merkle_root":"b58e4f56a93db5cd3ea7340cb3cef5da14bb1828","extensions":[],"witness_signature":"1f7e8064e411a739b62ece6287d20471baa48033d0f0c719c42f840451d9042c54037b871388e1ea08394632400bf531b4075e5c7a49353fccfc6f3444a763b48c","transactions":[{"ref_block_num":4065,"ref_block_prefix":4243273069,"expiration":"2017-12-05T21:20:06","operations":[["vote",{"voter":"lashchavokhin","author":"okolost","permlink":"sivka-chet-tiet-van-de-chinh-compr","weight":10000}]],"extensions":[],"signatures":["204e519db25b5f05365337760472fae27c45152dd0cf44fe1762b452507a6fa5cb5b27622a9eba82bed970834201fbc3cbcc1e83d4cf3d396c155ea6ba29989b1a"]},{"ref_block_num":4052,"ref_block_prefix":694245722,"expiration":"2017-12-05T21:29:06","operations":[["comment",{"parent_author":"sonci","parent_permlink":"re-claudiapeters-re-sonci-re-claudiapeters-re-sonci-re-claudiapeters-re-sonci-wir-sind-dann-bald-weg-unsere-grosse-reise-20171205t205734912z","author":"claudiapeters","permlink":"re-sonci-re-claudiapeters-re-sonci-re-claudiapeters-re-sonci-re-claudiapeters-re-sonci-wir-sind-dann-bald-weg-unsere-grosse-reise-20171205t211921180z","title":"","body":"Klar,
        sicher ist sicher. :-)","json_metadata":"{\"tags\":[\"deutsch\"],\"app\":\"steemit/0.1\"}"}]],"extensions":[],"signatures":["2046812cc3c576d47527c8939ec559978b29f41da5f563a18342194eb0615766e05b2586b5f6a7008470d768fc6e553afe90a9c53ff2bb4b18b8bb9ad944e8042c"]},{"ref_block_num":4065,"ref_block_prefix":4243273069,"expiration":"2017-12-05T21:20:06","operations":[["vote",{"voter":"ezhenzozul","author":"saltaev","permlink":"tukang-obat-ngali-epigrammatist-sofistka-oat-pikeun-pindah-ka-civ","weight":10000}]],"extensions":[],"signatures":["202f048b8fc3a35cd312a3e8d8796958338d9a07ff70e3e3b5e6564490384bba0714a8789db507ee972b4c11989d9228aee4d2e61bdb19caf920c62c1ddd184e69"]},{"ref_block_num":4065,"ref_block_prefix":4243273069,"expiration":"2017-12-05T21:20:06","operations":[["vote",{"voter":"samaraj","author":"penchug1s","permlink":"stivali-entree-pikeun-observati-bellied-electrocar","weight":10000}]],"extensions":[],"signatures":["1f71d92154dc3a5daabbadfe7f93dcf0b7289bed32283660f28510c48fc8fa36ac314fda94f998b81dcd0d106145633d7771338930d05d829b47d2041b60849812"]},{"ref_block_num":4052,"ref_block_prefix":694245722,"expiration":"2017-12-05T21:29:06","operations":[["comment",{"parent_author":"","parent_permlink":"movies","author":"pocket-toy","permlink":"captain-britain","title":"Captain
        Britain","body":"![IMG_20171108_223238_128.jpg](https://steemitimages.com/DQmVaVkgM155SNWMp87ZrcqPfyN4iZ679GWf1GigHEzufLF/IMG_20171108_223238_128.jpg)","json_metadata":"{\"tags\":[\"movies\",\"gaming\",\"toys\",\"photography\",\"marvel\"],\"image\":[\"https://steemitimages.com/DQmVaVkgM155SNWMp87ZrcqPfyN4iZ679GWf1GigHEzufLF/IMG_20171108_223238_128.jpg\"],\"app\":\"steemit/0.1\",\"format\":\"markdown\"}"}],["vote",{"voter":"pocket-toy","author":"pocket-toy","permlink":"captain-britain","weight":10000}]],"extensions":[],"signatures":["1f62d94b5809b3be0fcfd7a72a16718fb1100ebba42b1e12a813f9be8bb467899622abf000bca9be47bd364601780cc1be8f6308c7059e5fdc82638e6b913636f8"]},{"ref_block_num":4052,"ref_block_prefix":694245722,"expiration":"2017-12-05T21:29:06","operations":[["vote",{"voter":"evesick","author":"hamzayousaf","permlink":"my-first-visit-to-naran-kaghan-siri-paye-and-lake-saif-ul[...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["network_broadcast_api","broadcast_transaction_synchronous",[{"expiration":"2017-12-05T21:29:57","ref_block_num":4069,"ref_block_prefix":4239327431,"operations":[["vote",{"voter":"bittrex","author":"author","permlink":"permlink","weight":313}],["comment",{"parent_author":"author","parent_permlink":"permlink","author":"bittrex","permlink":"re-author-permlink-20171205t211958808z","title":"","body":"<p>This
        comment has received a 3.13 % upvote from @bittrex thanks to: @from, @from,
        @from.</p>\n","json_metadata":"{\"tags\":[\"parent_permlink\"],\"app\":\"drotto/0.0.3rc1\"}"}]],"extensions":[],"signatures":["1b0f02ee9ad0045473148d95612802e83ef4217b715b5ca26ff004a48309ddad7457d48a04d3f5c62ffc5a9256bc839a44cf6eb493bbf5fc43c7127ddfdb0fb8c3"]}]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"3030000 tx_missing_posting_auth:
        missing required posting authority\nMissing Posting Authority bittrex\n    {\"id\":\"bittrex\",\"posting\":{\"weight_threshold\":1,\"account_auths\":[],\"key_auths\":[[\"STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF\",1]]},\"active\":{\"weight_threshold\":1,\"account_auths\":[],\"key_auths\":[[\"STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF\",1]]},\"owner\":{\"weight_threshold\":1,\"account_auths\":[],\"key_auths\":[[\"STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF\",1]]}}\n    th_a  transaction.cpp:129
        verify_authority\n\n    {\"ops\":[[\"vote\",{\"voter\":\"bittrex\",\"author\":\"author\",\"permlink\":\"permlink\",\"weight\":313}],[\"comment\",{\"parent_author\":\"author\",\"parent_permlink\":\"permlink\",\"author\":\"bittrex\",\"permlink\":\"re-author-permlink-20171205t211958808z\",\"title\":\"\",\"body\":\"<p>This
        comment has received a 3.13 % upvote from @bittrex thanks to: @from, @from,
        @from.</p>\\n\",\"json_metadata\":\"{\\\"tags\\\":[\\\"parent_permlink\\\"],\\\"app\\\":\\\"drotto/0.0.3rc1\\\"}\"}]],\"sigs\":[\"STM5ctejUsoZ9FwfCaVbNvWYYgNMBo9TVsHSE8wHrqAmNJi6sDctt\"]}\n    th_a  transaction.cpp:172
        verify_authority\n\n    {\"*this\":{\"ref_block_num\":4069,\"ref_block_prefix\":4239327431,\"expiration\":\"2017-12-05T21:29:57\",\"operations\":[[\"vote\",{\"voter\":\"bittrex\",\"author\":\"author\",\"permlink\":\"permlink\",\"weight\":313}],[\"comment\",{\"parent_author\":\"author\",\"parent_permlink\":\"permlink\",\"author\":\"bittrex\",\"permlink\":\"re-author-permlink-20171205t211958808z\",\"title\":\"\",\"body\":\"<p>This
        comment has received a 3.13 % upvote from @bittrex thanks to: @from, @from,
        @from.</p>\\n\",\"json_metadata\":\"{\\\"tags\\\":[\\\"parent_permlink\\\"],\\\"app\\\":\\\"drotto/0.0.3rc1\\\"}\"}]],\"extensions\":[],\"signatures\":[\"1b0f02ee9ad0045473148d95612802e83ef4217b715b5ca26ff004a48309ddad7457d48a04d3f5c62ffc5a9256bc839a44cf6eb493bbf5fc43c7127ddfdb0fb8c3\"]}}\n    th_a  transaction.cpp:285
        verify_authority\n\n    {\"trx\":{\"ref_block_num\":4069,\"ref_block_prefix\":4239327431,\"expiration\":\"2017-12-05T21:29:57\",\"operations\":[[\"vote\",{\"voter\":\"bittrex\",\"author\":\"author\",\"permlink\":\"permlink\",\"weight\":313}],[\"comment\",{\"parent_author\":\"author\",\"parent_permlink\":\"permlink\",\"author\":\"bittrex\",\"permlink\":\"re-author-permlink-20171205t211958808z\",\"title\":\"\",\"body\":\"<p>This
        comment has received a 3.13 % upvote from @bittrex thanks to: @from, @from,
        @from.</p>[...]
