---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_account_history",["bittrex",-1,9999]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000504296673460497'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"result":[[319803,{"trx_id":"80bb9c1dcec510f33430879d0be3c6eb376c6d50","block":20023136,"trx_in_block":18,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-02-20T02:34:51","op":["transfer",{"from":"bittrex","to":"deepcrypto8","amount":"1057.957
        STEEM","memo":"101909699"}]}],[319804,{"trx_id":"bf2b3109fd5e97718b594ff13d14aa98eae8e16a","block":20023177,"trx_in_block":36,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-02-20T02:36:54","op":["transfer",{"from":"bittrex","to":"deepcrypto8","amount":"225.270
        STEEM","memo":"101459283"}]}],[319805,{"trx_id":"f9bb5ff3bb49df5b09f63c0b53e5baba4ddd9d62","block":20023218,"trx_in_block":30,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-02-20T02:38:57","op":["transfer",{"from":"bittrex","to":"deepcrypto8","a[...]
