---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_ticker",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"latest":"0.54832411324438657","lowest_ask":"0.54823999999999995","highest_bid":"0.54720060256088376","percent_change":"-10.09795013096176142","steem_volume":"15427.729
        STEEM","sbd_volume":"8806.047 SBD"}}'
  recorded_at: Tue, 05 Dec 2017 21:19:16 GMT
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"id":0,"head_block_number":17829870,"head_block_id":"01100fee88812d0f4eec3c56c22b77b6245354ab","time":"2017-12-05T21:19:36","current_witness":"blocktrades","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"263623406.152
        STEEM","current_supply":"260807932.903 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3527787.982 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"192960523.806 STEEM","total_vesting_shares":"395927211481.774008
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"407361156.177316
        VESTS","pending_rewarded_vesting_steem":"197686.854 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":17891192,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":17829848,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":8317,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Tue, 05 Dec 2017 21:19:36 GMT
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_block",[17829848]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"result":{"previous":"01100fd7400cd3a400e41b575d1f375928fadb39","timestamp":"2017-12-05T21:18:30","witness":"pfunk","transaction_merkle_root":"652f7af6f9f7d48e45499094e6446725dc6d713f","extensions":[],"witness_signature":"20578a0aa6c1dbdeaed40a0b0a337f0832de62bda8d363c6b99c880adad00e74c65df778b8bfa001eef6ebc33b0d7acaa48788524995d5dc660a1f9958ea6b6486","transactions":[{"ref_block_num":4033,"ref_block_prefix":3633889225,"expiration":"2017-12-05T21:28:24","operations":[["vote",{"voter":"artizm","author":"gecko-design","permlink":"20171205t211712542z-post","weight":10000}]],"extensions":[],"signatures":["206777300608841d8dc9a1d9dcdfde0653c1d2c83af8ec4deca46cbca943de5c895bfb53b343d3a77bce3bbb8153d2fcab4df861386c71ecb20b7526e5c8886bbe"]},{"ref_block_num":4033,"ref_block_prefix":3633889225,"expiration":"2017-12-05T21:28:24","operations":[["vote",{"voter":"lays","author":"cervantes","permlink":"el-debate-cervantil","weight":10000}]],"extensions":[],"signatures":["206851eb7fd7ff22ae67f37ba215b38c6a6f9184ed31f205226b96a2559cff25f33572e4aeea2aaff5d0d5aef3424259e4de7f45fbbf368c062ba0ad9680ce8386"]},{"[...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["network_broadcast_api","broadcast_transaction_synchronous",[{"expiration":"2017-12-05T21:29:36","ref_block_num":4055,"ref_block_prefix":2765294656,"operations":[["vote",{"voter":"bittrex","author":"author","permlink":"permlink","weight":171}],["comment",{"parent_author":"author","parent_permlink":"permlink","author":"bittrex","permlink":"re-author-permlink-20171205t211936101z","title":"","body":"<p>This
        comment has received a 1.72 % upvote from @bittrex thanks to: @from.</p>\n","json_metadata":"{\"tags\":[\"parent_permlink\"],\"app\":\"drotto/0.0.3rc1\"}"}]],"extensions":[],"signatures":["1c485c51cd41a4d5305e657b683dde3d79bbd33aa308d0071c5d1f14d4e61e5a6640d6ce2d9f4cf5ce929d114b2fb13c53f3910bc9e028d1eab8b0bf86aeef25c9"]}]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"3030000 tx_missing_posting_auth:
        missing required posting authority\nMissing Posting Authority bittrex\n    {\"id\":\"bittrex\",\"posting\":{\"weight_threshold\":1,\"account_auths\":[],\"key_auths\":[[\"STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF\",1]]},\"active\":{\"weight_threshold\":1,\"account_auths\":[],\"key_auths\":[[\"STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF\",1]]},\"owner\":{\"weight_threshold\":1,\"account_auths\":[],\"key_auths\":[[\"STM6xNqvVTWvftzpcRu75LfPx6SVVQuFJ8BMYQjkBf6x8HJe6g7CF\",1]]}}\n    th_a  transaction.cpp:129
        verify_authority\n\n    {\"ops\":[[\"vote\",{\"voter\":\"bittrex\",\"author\":\"author\",\"permlink\":\"permlink\",\"weight\":171}],[\"comment\",{\"parent_author\":\"author\",\"parent_permlink\":\"permlink\",\"author\":\"bittrex\",\"permlink\":\"re-author-permlink-20171205t211936101z\",\"title\":\"\",\"body\":\"<p>This
        comment has received a 1.72 % upvote from @bittrex thanks to: @from.</p>\\n\",\"json_metadata\":\"{\\\"tags\\\":[\\\"parent_permlink\\\"],\\\"app\\\":\\\"drotto/0.0.3rc1\\\"}\"}]],\"sigs\":[\"STM5ctejUsoZ9FwfCaVbNvWYYgNMBo9TVsHSE8wHrqAmNJi6sDctt\"]}\n    th_a  transaction.cpp:172
        verify_authority\n\n    {\"*this\":{\"ref_block_num\":4055,\"ref_block_prefix\":2765294656,\"expiration\":\"2017-12-05T21:29:36\",\"operations\":[[\"vote\",{\"voter\":\"bittrex\",\"author\":\"author\",\"permlink\":\"permlink\",\"weight\":171}],[\"comment\",{\"parent_author\":\"author\",\"parent_permlink\":\"permlink\",\"author\":\"bittrex\",\"permlink\":\"re-author-permlink-20171205t211936101z\",\"title\":\"\",\"body\":\"<p>This
        comment has received a 1.72 % upvote from @bittrex thanks to: @from.</p>\\n\",\"json_metadata\":\"{\\\"tags\\\":[\\\"parent_permlink\\\"],\\\"app\\\":\\\"drotto/0.0.3rc1\\\"}\"}]],\"extensions\":[],\"signatures\":[\"1c485c51cd41a4d5305e657b683dde3d79bbd33aa308d0071c5d1f14d4e61e5a6640d6ce2d9f4cf5ce929d114b2fb13c53f3910bc9e028d1eab8b0bf86aeef25c9\"]}}\n    th_a  transaction.cpp:285
        verify_authority\n\n    {\"trx\":{\"ref_block_num\":4055,\"ref_block_prefix\":2765294656,\"expiration\":\"2017-12-05T21:29:36\",\"operations\":[[\"vote\",{\"voter\":\"bittrex\",\"author\":\"author\",\"permlink\":\"permlink\",\"weight\":171}],[\"comment\",{\"parent_author\":\"author\",\"parent_permlink\":\"permlink\",\"author\":\"bittrex\",\"permlink\":\"re-author-permlink-20171205t211936101z\",\"title\":\"\",\"body\":\"<p>This
        comment has received a 1.72 % upvote from @bittrex thanks to: @from.</p>\\n\",\"json_metadata\[...]
