---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_ticker","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000483598738973985'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"latest":"1.19245212166729253","lowest_ask":"1.21289897992760776","highest_bid":"1.21095334685598388","percent_change":"0.00000000000000000","steem_volume":["2813631",3,"@@000000021"],"sbd_volume":["3399721",3,"@@000000013"]},"id":1}'
  recorded_at: Mon, 30 Apr 2018 01:48:48 GMT
recorded_with: VCR 3.0.3
