---
http_interactions:
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"find","params":{"contract":"tokens","table":"transfers","query":{"symbol":""},"limit":0},"jsonrpc":"2.0","id":12}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":12,"result":null}'
  recorded_at: Thu, 11 Jul 2019 23:33:45 GMT
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"find","params":{"contract":"tokens","table":"balances","query":{"symbol":"DROTTO"},"limit":1000,"offset":0},"jsonrpc":"2.0","id":11}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":11,"result":[]}'
  recorded_at: Thu, 11 Jul 2019 23:33:46 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_ticker","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000665609835756622'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"latest":"0.33333333333333331","lowest_ask":"0.29643148959827936","highest_bid":"0.29637096774193550","percent_change":"0.00000000000000000","steem_volume":"68762.228
        STEEM","sbd_volume":"20941.245 SBD"},"id":1}'
  recorded_at: Thu, 11 Jul 2019 23:33:46 GMT
recorded_with: VCR 4.0.0
