---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_history","params":["bittrex",-1,9999],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001000555733234837'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[[379134,{"trx_id":"59be4c639a2d5ab67c117ebf8413015fa38b7245","block":22153349,"trx_in_block":5,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-05-05T03:49:15","op":["transfer",{"from":"bittrex","to":"iqbalkhan","amount":"93.420
        SBD","memo":"iqbalkhan"}]}],[379135,{"trx_id":"34a81e145bf6729e12baf0b49a7272743b28ac9c","block":22153514,"trx_in_block":12,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-05-05T03:57:30","op":["transfer",{"from":"songyi26","to":"bittrex","amount":"18.000
        SBD","memo":"985b8c866cb544ac8c9"}]}],[379136,{"trx_id":"84dd80e623503c94dd7a13f294e9fda025e9d1b7","block":22153521,"trx_in_block":30,"op_in_trx":0,"virtual_op":0,"timestamp":"2018-05-05T03:57:51","op":["transfer",{"from":"thegoliath","to":"bittrex"[...]
